<a href="https://colab.research.google.com/github/PalmerTurley34/DS-Unit-2-Applied-Modeling/blob/master/LS_DS_232_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Read New York City property sales data
import pandas as pd
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

Your code starts here:

In [0]:
# Change column names: replace spaces with underscores

In [0]:
# Get Pandas Profiling Report

In [0]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)

In [0]:
# Q. What's the date range of these property sales in Tribeca?

In [0]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers

In [0]:
# Q. What is the maximum SALE_PRICE in this dataset?

In [0]:
# Look at the row with the max SALE_PRICE

In [0]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?

In [0]:
# Keep only the single units

In [0]:
# Q. Now what is the max sales price? How many square feet does it have?

In [0]:
# Q. How often did $0 sales occur in this subset of the data?

# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children.

In [0]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?

In [0]:
# What are the building class categories?
# How frequently does each occur?

In [0]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments

# Check how many rows you have now. (Should be 106 rows.)

In [0]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE

In [0]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"

In [0]:
# Look at sales for more than $35 million

# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?
# Is this dirty data?

In [0]:
# Make a judgment call:
# Keep rows where sale price was < $35 million

# Check how many rows you have now. (Should be down to 90 rows.)

In [0]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline

In [0]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index.

In [3]:
! unzip '/content/insurance.zip'

Archive:  /content/insurance.zip
  inflating: insurance.csv

In [0]:
import pandas as pd
import numpy as np
df = pd.read_csv('insurance.csv')

In [0]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, train_size=.8, test_size=.2, random_state=42,
                               stratify=df['region'])

## Data Cleaning

In [18]:
train.describe()

               age          bmi     children       charges
count  1070.000000  1070.000000  1070.000000   1070.000000
mean     39.357009    30.560397     1.107477  13346.089736
std      14.073960     6.043386     1.215983  12019.510778
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.205000     0.000000   4897.667387
50%      39.500000    30.210000     1.000000   9575.442100
75%      51.000000    34.496250     2.000000  16746.657400
max      64.000000    53.130000     5.000000  62592.873090

In [0]:
# cut bmi into bins
# https://www.unicarestateplan.com/pdf/bmiFlyer.pdf
bmi_bins = [0,20,25,30,40,54]
bmi_labels = ['Underweight', 'Normal', 'Overweight', 'Obese', 'Extreme Obesity']

def wrangle(x):
  x = x.copy()
  x['bmi_class'] = pd.cut(x['bmi'], bins=bmi_bins, labels=bmi_labels)
  return x

train = wrangle(train)
test = wrangle(test)

In [23]:
train['bmi_class'].value_counts()

Obese              490
Overweight         308
Normal             172
Extreme Obesity     68
Underweight         32
Name: bmi_class, dtype: int64

In [31]:
train['region'].value_counts()

southeast    283
northeast    267
southwest    264
northwest    256
Name: region, dtype: int64

In [32]:
train['children'].value_counts()

0    456
1    259
2    191
3    127
4     22
5     15
Name: children, dtype: int64

##Mean Absolute Error from guessing

In [41]:
target = 'charges'
features = train.drop(columns=target).columns
y_train = train[target]
guess = y_train.mean()
guess

13138.892602513097

In [42]:
from sklearn.metrics import mean_absolute_error
y_pred = [guess] * len(y_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'MAE: {mae}')

MAE: 9013.830003332787

##First Model

In [0]:
import category_encoders as ce
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    StandardScaler(),
    LinearRegression()
)

In [0]:
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [44]:
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
print(f'MAE: {mae}')

MAE: 4213.572313166311