<a href="https://colab.research.google.com/github/tallywiesenberg/DS-Unit-2-Applied-Modeling/blob/master/Unit_2_Build.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install category_encoders

import pandas as pd
import numpy as np
import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

#pipeline imports
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.linear_model import LogisticRegressionCV

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.5)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)

#Import

In [11]:
#crash data
crashes = pd.read_csv('https://opendata.arcgis.com/datasets/70392a096a8e431381f1f692aaa06afd_24.csv', dtype={'STREETSEGID': 'Int64'})  #crash data
crashes1 = pd.read_csv('https://opendata.arcgis.com/datasets/70248b73c20f46b0a5ee895fc91d6222_25.csv', dtype={'STREETSEGID': 'Int64'}) #additional crash data
crashes.shape, crashes1.shape

IncompleteRead: ignored

In [0]:
crashes.head(2)

In [0]:
crashes1.head()

##Pre-merge cleaning

In [0]:
car_types = crashes1.groupby('CRIMEID')['INVEHICLETYPE'].value_counts().unstack().replace(np.nan, 0).reset_index()

In [0]:
crashes1['SENIORS'] = crashes1['AGE'] > 65
crashes1['CHILDREN'] = crashes1['AGE'] < 18

In [0]:
crashes1.groupby('CRIMEID')['SENIORS'].value_counts()

##Merge

In [0]:
#datasets for engineering
street_segs = pd.read_csv('https://opendata.arcgis.com/datasets/f21813094ed24fd5ba66a07b61a1acee_46.csv', dtype={'STREETSEGID': 'Int64'})
bicycles = pd.read_csv('https://opendata.arcgis.com/datasets/294e062cdf2c48d5b9cbc374d9709bc0_2.csv', dtype={'STREETSEGID': 'Int64'})

need to aggregate crashes1 (personal crash data)

In [0]:
df = crashes.merge(car_types, how='inner', on='CRIMEID')   #inner join on CRIMEID, the common unique ID between datasets
df = df.merge(street_segs[['STREETSEGID', 'STREETTYPE', 'QUADRANT', 'DIRECTIONALITY']], how='left', on='STREETSEGID')
df = df.merge(bicycles[['STREETSEGID', 'BIKELANELENGTH']], how='left', on='STREETSEGID')
df.shape

(216075, 82)

In [0]:
df= df.sort_index(axis=1)
df.head()

                                   ADDRESS  Aircraft  ...          Y      YCOORD
0             1633 NORTH CAPITOL STREET NE       0.0  ...  38.912427  138283.932
1                   2455 ALABAMA AVENUE SE       0.0  ...  38.853044  131692.421
2                       3905 DIX STREET NE       0.0  ...  38.893263  136157.745
3  CONSTITUTION AVENUE NW & 10TH STREET NW       0.0  ...  38.892090  136026.655
4                       1700 1ST STREET NW       0.0  ...  38.912746  138319.430

[5 rows x 82 columns]

#Cleaning

In [0]:
df.head()

                                   ADDRESS  Aircraft  ...          Y      YCOORD
0             1633 NORTH CAPITOL STREET NE       0.0  ...  38.912427  138283.932
1                   2455 ALABAMA AVENUE SE       0.0  ...  38.853044  131692.421
2                       3905 DIX STREET NE       0.0  ...  38.893263  136157.745
3  CONSTITUTION AVENUE NW & 10TH STREET NW       0.0  ...  38.892090  136026.655
4                       1700 1ST STREET NW       0.0  ...  38.912746  138319.430

[5 rows x 82 columns]

In [0]:
#create time series from date of crash
df['FROMDATE'] = pd.to_datetime(df['FROMDATE'].str.slice(stop=10), infer_datetime_format = True)
df['FROMDATE'].head()

0   2018-08-20
1   2018-08-20
2   2018-08-20
3   2018-08-20
4   2018-08-20
Name: FROMDATE, dtype: datetime64[ns]

In [0]:
#drop observations recorded before 2000 because they are date entry errors (judgement call)

df.drop(df.query('FROMDATE < 2000').index, inplace=True)

In [0]:
df['FROMDATE'].describe()

count                  216027
unique                   4361
top       2019-06-13 00:00:00
freq                      251
first     2000-01-01 00:00:00
last      2019-10-03 00:00:00
Name: FROMDATE, dtype: object

In [0]:
#drop duplicate and ID columns
df = df.drop(columns=['OBJECTID', 'CCN', 'EVENTID', 'BLOCKKEY', 'EVENTID', 'None'])  #"none" column is leftover from car_types merge, it means no cars were involved (illogical)

In [0]:
#cleaning STREET SEGMENT ID
df['STREETSEGID'] = (df['STREETSEGID'].replace(-9.0, np.nan)   #-9 is not a valid street segment id
                                      .replace(0.0, np.nan)    #0 isnt a valid street segment id
#                                       .astype(int)
                    )
#cleaning WARD attribute
mode = df['WARD'].mode()[0]                                      #mode of WARD attribute

df['WARD'] = df['WARD'].replace('Null', np.nan).fillna(value=df['WARD'].mode()[0])  #fill WARD attribute with mode of column (useful so column can be converted to int dtype)
df['WARD'] = df['WARD'].str.replace('Ward ', '').astype(int)   #remove "ward" string from ward attribute

In [0]:
# impute_mode = SimpleImputer(strategy='most_frequent')
# impute_mean = SimpleImputer(strategy='median')

# impute_mode.fit_transform(df.select_dtypes('object'))
# impute_mean.fit_transform(df.select_dtypes('number'))

In [0]:
#change Y/N to 0/1
#will return an error, but still works?
diction = {'N': 0, 'Y': 1}
for col in df.columns:
  if (df[col].unique().tolist() == ['N', 'Y']) | (df[col].unique().tolist() == ['Y', 'N']):
    df[col] = df[col].replace(diction)
  else:
    pass

In [0]:
#change missing values of BIKELANELENGTH attribute to 0s
#soon to be dropped, just need to know if there is a bikelane or not
df['BIKELANELENGTH'] = df['BIKELANELENGTH'].replace(np.nan, 0)

In [0]:
#drop columns where missing values are 35 percent or more of column

for col in df.columns:
  if df[col].isna().sum() >= .5 * df.shape[0]:
    df = df.drop(columns=col)
  else:
    pass
  
df.shape

#Engineering

In [0]:
#all the features that will be summed to become the target variable

target_cols = df.columns[df.columns.str.contains('FATAL') | df.columns.str.contains('MAJOR')].tolist()

target_numeric = df[target_cols].agg('sum', axis='columns')  #target column formatted numerically

target_mask = target_numeric > 0                             #target mask returns with either True (major injury or fatality) or False (no major injury or fatality)

df['MAJOR_INJURY_OR_FATAL'] = target_mask

diction = {False: 0, True: 1}                                #change True/False to 0/1
df['MAJOR_INJURY_OR_FATAL'] = df['MAJOR_INJURY_OR_FATAL'].replace(diction)

In [0]:
df['MAJOR_INJURY_OR_FATAL'].value_counts()

In [0]:
##Bike lanes
diction = {False: 1, True: 0}

df['BIKE_LANE'] = df['BIKELANELENGTH'] == 0        #is there a bikelane (this is after NaNs are replaced with 0s)
df['BIKE_LANE'] = df['BIKE_LANE'].replace(diction) #0 means no bikelane, 1 means bikelane

df['BIKE_LANE'].value_counts()

#drop BIKELANELENGTH, YEARINSTALLED, no longer useful
print(df.shape)
df = df.drop('BIKELANELENGTH', axis = 1)
print(df.shape)

In [0]:
#YEAR of accident

df['YEAR'] = df['FROMDATE'].dt.year
df['YEAR'].value_counts()

#Baseline Model

In [0]:
df['MAJOR_INJURY_OR_FATAL'].value_counts()

In [0]:
df['MAJOR_INJURY_OR_FATAL'].value_counts(normalize=True)

In [0]:
y_pred = [0] * df.shape[0]
print('Baseline accuracy score:', accuracy_score(df['MAJOR_INJURY_OR_FATAL'], y_pred))
#Despite high accuracy, baseline model is useless because false negatives are very costly to society
print(confusion_matrix(df['MAJOR_INJURY_OR_FATAL'], y_pred))

#Exploration

In [0]:
df.head(2)

In [0]:
df.groupby('WARD')['MAJOR_INJURY_OR_FATAL'].mean().plot.bar()
plt.title('Probability of Major Injury or Death from Car Accident by DC Ward')

In [0]:
df.groupby('BIKE_LANE')['MAJOR_INJURY_OR_FATAL'].mean().plot.bar()

In [0]:
df.groupby('DRIVERSIMPAIRED')['MAJOR_INJURY_OR_FATAL'].mean().plot.bar()

In [0]:
df.groupby('SPEEDING')['MAJOR_INJURY_OR_FATAL'].mean().plot.bar()

In [0]:
df.groupby('INTAPPROACHDIRECTION')['MAJOR_INJURY_OR_FATAL'].mean().plot.bar()

In [0]:
df.groupby('SPEEDING_INVOLVED')['MAJOR_INJURY_OR_FATAL'].mean().plot.bar()

In [0]:
df.groupby('STREETTYPE')['MAJOR_INJURY_OR_FATAL'].mean().plot.bar()

In [0]:
df['OFFINTERSECTION'].hist(range=(0, 250), bins=25)

In [0]:
px.set_mapbox_access_token(open(".mapbox_token").read())

px.scatter_mapbox(df, lat='X', lon= 'Y', color='MAJOR_INJURY_OR_FATAL')

#Split

In [0]:
test_mask = df['YEAR'] >= 2019
train = df[~test_mask]
test = df[test_mask]

val_mask = train['YEAR'] < 2017
val = train[~val_mask]
train = train[val_mask]


train.shape, val.shape, test.shape

In [0]:
target = 'MAJOR_INJURY_OR_FATAL'
features = df.columns[df.columns != target]

X_train = train[features]
y_train = train[target]

X_val = val[features]
y_val = val[target]

X_test = test[features]
y_test = test[target]

X_train.shape, y_train.shape, X_val.shape, y_val.shape, X_test.shape, y_test.shape

#Logistic Regression

In [0]:
pipeline = make_pipeline(
    OneHotEncoder(),
    SimpleImputer(strategy='median'),
    LogisticRegressionCV())

In [0]:
pipeline.fit(X_train, y_train)

pipeline.score(X_val, y_val)