<a href="https://colab.research.google.com/github/ThomasMcDaniel91/DS-Unit-2-Applied-Modeling/blob/master/module4-model-interpretation/LS_DS_234_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Lambda School Data Science

*Unit 2, Sprint 3, Module 4*

---

# Model Interpretation

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your work.

- [ ] Continue to iterate on your project: data cleaning, exploratory visualization, feature engineering, modeling.
- [ ] Make at least 1 partial dependence plot to explain your model.
- [ ] Make at least 1 Shapley force plot to explain an individual prediction.
- [ ] **Share at least 1 visualization (of any type) on Slack!**

If you aren't ready to make these plots with your own dataset, you can practice these objectives with any dataset you've worked with previously. Example solutions are available for Partial Dependence Plots with the Tanzania Waterpumps dataset, and Shapley force plots with the Titanic dataset. (These datasets are available in the data directory of this repository.)

Please be aware that **multi-class classification** will result in multiple Partial Dependence Plots (one for each class), and multiple sets of Shapley Values (one for each class).

## Stretch Goals

#### Partial Dependence Plots
- [ ] Make multiple PDPs with 1 feature in isolation.
- [ ] Make multiple PDPs with 2 features in interaction. 
- [ ] Use Plotly to make a 3D PDP.
- [ ] Make PDPs with categorical feature(s). Use Ordinal Encoder, outside of a pipeline, to encode your data first. If there is a natural ordering, then take the time to encode it that way, instead of random integers. Then use the encoded data with pdpbox. Get readable category names on your plot, instead of integer category codes.

#### Shap Values
- [ ] Make Shapley force plots to explain at least 4 individual predictions.
    - If your project is Binary Classification, you can do a True Positive, True Negative, False Positive, False Negative.
    - If your project is Regression, you can do a high prediction with low error, a low prediction with low error, a high prediction with high error, and a low prediction with high error.
- [ ] Use Shapley values to display verbal explanations of individual predictions.
- [ ] Use the SHAP library for other visualization types.

The [SHAP repo](https://github.com/slundberg/shap) has examples for many visualization types, including:

- Force Plot, individual predictions
- Force Plot, multiple predictions
- Dependence Plot
- Summary Plot
- Summary Plot, Bar
- Interaction Values
- Decision Plots

We just did the first type during the lesson. The [Kaggle microcourse](https://www.kaggle.com/dansbecker/advanced-uses-of-shap-values) shows two more. Experiment and see what you can learn!

### Links

#### Partial Dependence Plots
- [Kaggle / Dan Becker: Machine Learning Explainability — Partial Dependence Plots](https://www.kaggle.com/dansbecker/partial-plots)
- [Christoph Molnar: Interpretable Machine Learning — Partial Dependence Plots](https://christophm.github.io/interpretable-ml-book/pdp.html) + [animated explanation](https://twitter.com/ChristophMolnar/status/1066398522608635904)
- [pdpbox repo](https://github.com/SauceCat/PDPbox) & [docs](https://pdpbox.readthedocs.io/en/latest/)
- [Plotly: 3D PDP example](https://plot.ly/scikit-learn/plot-partial-dependence/#partial-dependence-of-house-value-on-median-age-and-average-occupancy)

#### Shapley Values
- [Kaggle / Dan Becker: Machine Learning Explainability — SHAP Values](https://www.kaggle.com/learn/machine-learning-explainability)
- [Christoph Molnar: Interpretable Machine Learning — Shapley Values](https://christophm.github.io/interpretable-ml-book/shapley.html)
- [SHAP repo](https://github.com/slundberg/shap) & [docs](https://shap.readthedocs.io/en/latest/)

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install eli5
    !pip install pdpbox
    !pip install shap

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# from google.colab import files
# uploaded = files.upload()

In [0]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('video-game-sales-with-ratings.zip')
print(df.shape)
df.head()

(16719, 16)

                       Name Platform  ...  Developer Rating
0                Wii Sports      Wii  ...   Nintendo      E
1         Super Mario Bros.      NES  ...        NaN    NaN
2            Mario Kart Wii      Wii  ...   Nintendo      E
3         Wii Sports Resort      Wii  ...   Nintendo      E
4  Pokemon Red/Pokemon Blue       GB  ...        NaN    NaN

[5 rows x 16 columns]

In [90]:
#checking datatypes of all the columns
df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [0]:
#replacing the input 'tbd' to a nan value to make column numeric
df['User_Score'] = df['User_Score'].replace({'tbd': np.nan})
df['User_Score'] = pd.to_numeric(df['User_Score'])

In [0]:
#dropping columns with leakage(individual sales by region) and useless features
#(name) which is almost completely unique(11.5k of 16k rows)
df = df.drop(['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], axis=1)

In [0]:
#dropping the rows that don't have a publisher
df = df[pd.notnull(df['Publisher'])]

In [0]:
df.isnull().sum()

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce
from sklearn.ensemble import RandomForestRegressor

In [96]:
df['Critic_Score'].value_counts(dropna=False)

NaN     8532
70.0     256
71.0     254
75.0     245
78.0     240
        ...
20.0       3
13.0       1
17.0       1
22.0       1
21.0       1
Name: Critic_Score, Length: 83, dtype: int64

In [0]:
# def wrangle(x):
#   x = x.copy()
#   numerics = ['Critic_Score', 'Critic_Count',
#               'User_Score', 'User_Count']
#   non_num = ['Developer', 'Rating', 'Genre', 'Year_of_Release']
#   for col in numerics:
#     x[col] = pd.to_numeric(x[col])
#     x[col] = x[col].replace(np.nan, x[col.mean])
#     x[col] = pd.to_numeric(x[col])
#   for col in non_num:
#     x[col] = x[col].replace(np.nan, x[col].mode)

#   return x

In [0]:
df['Year_of_Release'].value_counts()

In [0]:
test = df[df['Year_of_Release'] >= 2014]
train = df[df['Year_of_Release'] < 2014]

In [0]:
train, val = train_test_split(train, train_size=.85, random_state=3)

In [0]:
train.shape, val.shape, test.shape

In [0]:
# train = wrangle(train)
# val = wrangle(val)
# test = wrangle(test)

In [107]:
train.dtypes

Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score         float64
User_Count         float64
Developer           object
Rating              object
dtype: object

In [106]:
train.nunique()

Platform             31
Year_of_Release      34
Genre                12
Publisher           501
Global_Sales        564
Critic_Score         79
Critic_Count         98
User_Score           94
User_Count          673
Developer          1491
Rating                8
dtype: int64

In [0]:
target = 'Global_Sales'
features = train.columns.drop([target, 'Publisher', 'Developer'])

X_train = train[features]
y_train = train[target]

X_val = val[features]
y_val = val[target]

X_test = test[features]

In [0]:
pipeline = make_pipeline(
        ce.OneHotEncoder(use_cat_names=True),
        SimpleImputer(),
        RandomForestRegressor()
)

In [115]:
pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['Platform', 'Genre', 'Rating'],
                               drop_invariant=False, handle_missing='value',
                               handle_unknown='value', return_df=True,
                               use_cat_names=True, verbose=0)),
                ('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('randomforestregre...
                 RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                       criterion='mse', max_depth=None,
                                       max_features='auto', max_leaf_nodes=None,
                                       max_samples=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=100, n_jobs=None,
                                       oob_score=False, random_state=None,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [116]:
train.head()

      Platform  Year_of_Release      Genre  ... User_Count  Developer  Rating
16014      PSP           2010.0  Adventure  ...        NaN        NaN     NaN
744       X360           2010.0    Shooter  ...      573.0   2K Marin       M
11924      3DS           2013.0       Misc  ...        NaN        NaN     NaN
16304     X360           2013.0    Shooter  ...        NaN       Moss       T
6333       N64           1997.0     Sports  ...        NaN        NaN     NaN

[5 rows x 11 columns]