<a href="https://colab.research.google.com/github/Okocha76/DS-Unit-2-Applied-Modeling/blob/master/module2/LS_DS10_232_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

## NYC property sales data

In [0]:
# Read New York City property sales data
import pandas as pd
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

Your code starts here:

In [0]:
# Change column names: replace spaces with underscores

In [0]:
# Get Pandas Profiling Report

In [0]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)

In [0]:
# Q. What's the date range of these property sales in Tribeca?

In [0]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers

In [0]:
# Q. What is the maximum SALE_PRICE in this dataset?

In [0]:
# Look at the row with the max SALE_PRICE

In [0]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?

In [0]:
# Keep only the single units

In [0]:
# Q. Now what is the max sales price? How many square feet does it have?

In [0]:
# Q. How often did $0 sales occur in this subset of the data?

# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children.

In [0]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?

In [0]:
# What are the building class categories?
# How frequently does each occur?

In [0]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments

# Check how many rows you have now. (Should be 106 rows.)

In [0]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE

In [0]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"

In [0]:
# Look at sales for more than $35 million

# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?
# Is this dirty data?

In [0]:
# Make a judgment call:
# Keep rows where sale price was < $35 million

# Check how many rows you have now. (Should be down to 90 rows.)

In [0]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline

In [0]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index.

## Portfolio Project dataset

In [0]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Okocha76/Okocha76.github.io/master/euro_data.csv', sep=';', engine='python', encoding = "ISO-8859-1")

In [0]:
print(df.shape)
df.head()

(8010, 41)

   TIME GEO GEO_LABEL  ...  ED3_4_30_34  ED3-8_30_34  ED5-8_30_34
0  2000  AT   Austria  ...         67.4         83.3         15.9
1  2001  AT   Austria  ...         67.9         84.0         16.1
2  2002  AT   Austria  ...         66.9         84.1         17.2
3  2003  AT   Austria  ...         68.1         85.7         17.6
4  2004  AT   Austria  ...         65.6         86.5         20.9

[5 rows x 41 columns]

In [0]:
train = df[df['TIME'] <= 2011]
val = df[(df['TIME'] > 2011) & (df['TIME'] < 2015)]
test = df[df['TIME'] >= 2015]

train.shape, val.shape, test.shape

((5340, 41), (1335, 41), (1335, 41))

In [0]:
import numpy as np

def wrangle(X):
    """Wrangle train, validate, and test sets in the same way"""
    
    # Prevent SettingWithCopyWarning
    X = X.copy()

    # Feature selection is not final. Just a quick & dirty approach for now.

    X = X.drop(
        ['CNMIGRAT','DEATH','GROW','GROWRT','LBIRTH','NATGROW','NATGROWRT',
        'EUR_HAB_2GDP','EUR_HAB_EU27_2019','MIO_EUR','MIO_NAC','MIO_PPS',
        'MIO_PPS_EU27_2019','PPS_EU27_2019_HAB','PPS_HAB','PPS_HAB_EU27_2019',
        'SAL','EUR_HAB_2HHINC','ED0-2_25_64','ED3_4_25_64','ED3-8_25_64',
        'ED5-8_25_64','ED3-8_30_34','MEDAGEMOTH','PPS_HAB_EU','ED3_4_30_34']
        ,axis=1)
    
    X['JAN'] = pd.to_numeric(X['JAN'],errors='coerce')
    # X['JAN'] = X['JAN'].astype(int)
    X['TIME'] = X['TIME'].astype(int)

    # A bit of feature engineering. EMP_PC is percentage employed.
    X['EMP_PC'] = round((X['EMP'] * 100000)/X['JAN'],1)
    X = X.drop(['JAN','EMP'], axis=1)

    # When columns have zeros and shouldn't, they are like null values.
    # So we will replace the zeros with nulls, and impute missing values later.
    cols_with_zeros = ['AGEMOTH', 'ED0-2_30_34', 'ED5-8_30_34','EMP_PC',
                       'EUR_HAB_EU','GBIRTHRT','GDEATHRT','PER_KM2','RT',
                       'TOTFERRT']

    for col in cols_with_zeros:
        X[col] = X[col].replace(0, np.nan)

    X = X.rename(columns={"ED0-2_30_34": "ED_LOW", "ED5-8_30_34": "ED_HIGH"})
    
    # Not sure yet, whether to drop or impute NaNs
    # X.dropna(inplace=True)
    
    # return the wrangled dataframe
    return X


train = wrangle(train)
val = wrangle(val)
test = wrangle(test)

In [0]:
print(train.shape)
train.head()

(3380, 14)

   TIME GEO GEO_LABEL  AGEMOTH  ...  EUR_HAB_EU  ED_LOW  ED_HIGH  EMP_PC
0  2000  AT   Austria     28.7  ...       134.0    16.7     15.9    46.9
1  2001  AT   Austria     28.9  ...       133.0    16.0     16.1    47.2
2  2002  AT   Austria     29.1  ...       132.0    15.9     17.2    46.9
3  2003  AT   Austria     29.2  ...       132.0    14.3     17.6    46.9
4  2004  AT   Austria     28.8  ...       132.0    13.5     20.9    47.0

[5 rows x 14 columns]

In [0]:
# Generate Pandas Profiling Report and export to html

import pandas_profiling

profile_report = train.profile_report(
    check_correlation_pearson=True,
    correlations={
        'pearson': True,
        'spearman': False,
        'kendall': False,
        'phi_k': False,
        'cramers': False,
        'recoded': False,
    },
    plot={'histogram': {'bayesian_blocks_bins': False}},
    )

profile_report.to_file(output_file="train.html")

## Baseline Prediction

In [0]:
baseline = train.groupby('GEO')['CNMIGRATRT'].mean()
baseline

GEO
AT      3.891667
AT1     6.725000
AT12    5.233333
AT13    8.350000
AT2     2.050000
          ...
UKM     3.933333
UKM5    3.542857
UKM6    6.500000
UKN     1.525000
UKN0    1.525000
Name: CNMIGRATRT, Length: 318, dtype: float64

In [0]:
# THIS IS NOT RIGHT

y_val_2012 = val[val['TIME'] == 2012]['CNMIGRATRT']
error = baseline - y_val_2012


# error1 = baseline - val[val['TIME'] == 2012]['CNMIGRATRT']
# error2 = baseline - val[val['TIME'] == 2013]['CNMIGRATRT']
# error3 = baseline - val[val['TIME'] == 2014]['CNMIGRATRT']
# error = error1 + error2 + error3
error

AT     NaN
AT1    NaN
AT12   NaN
AT13   NaN
AT2    NaN
        ..
7842   NaN
7860   NaN
7878   NaN
7986   NaN
8004   NaN
Name: CNMIGRATRT, Length: 627, dtype: float64

## Linear Regression

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model = LinearRegression()

In [0]:
target = 'CNMIGRATRT'
features = train.columns.drop([target, 'TIME', 'GEO', 'GEO_LABEL'])

X_train = train[features]
X_val = test[features]
X_test = test[features]
y_train = train[target]
y_val = val[target]
y_test = test[target]
print(f'Linear Regression, dependent on: {features}')

Linear Regression, dependent on: Index(['AGEMOTH', 'TOTFERRT', 'GBIRTHRT', 'GDEATHRT', 'RT', 'PER_KM2',
       'EUR_HAB_EU', 'ED_LOW', 'ED_HIGH', 'EMP_PC'],
      dtype='object')

In [0]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
# model.intercept_, model.coef_
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept -10.314453863111906
AGEMOTH       0.152838
TOTFERRT     -5.388189
GBIRTHRT      1.075613
GDEATHRT     -0.298416
RT           -0.401069
PER_KM2      -0.000761
EUR_HAB_EU    0.008279
ED_LOW        0.099847
ED_HIGH       0.091633
EMP_PC        0.126862

In [0]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [0]:
y_pred = model.predict(X_train)

rmse = mean_squared_error(y_train, y_pred)**(.5)
print(f'Train RMSE: {rmse:,.2f}')

mae = mean_absolute_error(y_train, y_pred)
print(f'Train MAE: {mae:,.2f}')

R2 = model.score(X_train, y_train)
print(f'Train R^2: {R2:,.4f}')

Train RMSE: 4.77
Train MAE: 3.23
Train R^2: 0.3371

In [0]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [0]:
# Fit regression model on train data
results = smf.ols('CNMIGRATRT ~ AGEMOTH + TOTFERRT + GBIRTHRT + GDEATHRT + RT + PER_KM2 + EUR_HAB_EU + ED_LOW + ED_HIGH + EMP_PC', data=train).fit()

rmse = results.mse_resid**(.5)
print(f'Train RMSE: {rmse:,.2f}')

mae = mean_absolute_error(y_train, results.fittedvalues)
print(f'Train MAE: {mae:,.2f}')

R2 = results.rsquared
print(f'Train R^2: {R2:,.4f}')

print(results.summary())

Train RMSE: 4.78
Train MAE: 3.23
Train R^2: 0.3371
                            OLS Regression Results
==============================================================================
Dep. Variable:             CNMIGRATRT   R-squared:                       0.337
Model:                            OLS   Adj. R-squared:                  0.335
Method:                 Least Squares   F-statistic:                     171.3
Date:                Tue, 17 Dec 2019   Prob (F-statistic):          7.61e-292
Time:                        21:05:21   Log-Likelihood:                -10078.
No. Observations:                3380   AIC:                         2.018e+04
Df Residuals:                    3369   BIC:                         2.024e+04
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -10.3145      3.877     -2.661      0.008     -17.916      -2.713
AGEMOTH        0.1528      0.112      1.362      0.173      -0.067       0.373
TOTFERRT      -5.3882      0.709     -7.605      0.000      -6.777      -3.999
GBIRTHRT       1.0756      0.105     10.291      0.000       0.871       1.281
GDEATHRT      -0.2984      0.070     -4.274      0.000      -0.435      -0.162
RT            -0.4011      0.047     -8.455      0.000      -0.494      -0.308
PER_KM2       -0.0008      0.000     -6.730      0.000      -0.001      -0.001
EUR_HAB_EU     0.0083      0.003      2.634      0.008       0.002       0.014
ED_LOW         0.0998      0.007     14.354      0.000       0.086       0.113
ED_HIGH        0.0916      0.011      8.616      0.000       0.071       0.112
EMP_PC         0.1269      0.018      6.936      0.000       0.091       0.163
==============================================================================
Omnibus:                      444.136   Durbin-Watson:                   0.761
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5332.787
Skew:                          -0.082   Prob(JB):                         0.00
Kurtosis:                       9.151   Cond. No.                     4.39e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.39e+04. This might indicate that there are
strong multicollinearity or other numerical problems.