<a href="https://colab.research.google.com/github/kellischeuble/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/assignment_define_ML_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [0]:
df = pd.read_csv('MACH_data/data.csv', sep='\t')

In [0]:
df.head()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screenw,screenh,hand,religion,orientation,race,voted,married,familysize,major
0,3.0,6.0,21017.0,3.0,7.0,18600.0,5.0,20.0,14957.0,2.0,...,1440.0,900.0,1,7,1,30,1,2,5,Marketing
1,5.0,17.0,3818.0,5.0,9.0,7850.0,1.0,16.0,5902.0,3.0,...,1536.0,864.0,1,1,1,60,2,1,2,mathematics
2,5.0,16.0,4186.0,5.0,12.0,2900.0,1.0,2.0,7160.0,1.0,...,375.0,667.0,1,2,2,10,2,1,2,Chemistry
3,2.0,12.0,9373.0,4.0,1.0,10171.0,2.0,7.0,10117.0,1.0,...,1280.0,720.0,1,6,1,60,1,3,2,international relations
4,5.0,13.0,9465.0,5.0,7.0,5284.0,2.0,19.0,8872.0,1.0,...,360.0,640.0,1,4,3,60,1,1,2,Management

In [0]:
columns = df.columns.tolist()
print(columns)

['Q1A', 'Q1I', 'Q1E', 'Q2A', 'Q2I', 'Q2E', 'Q3A', 'Q3I', 'Q3E', 'Q4A', 'Q4I', 'Q4E', 'Q5A', 'Q5I', 'Q5E', 'Q6A', 'Q6I', 'Q6E', 'Q7A', 'Q7I', 'Q7E', 'Q8A', 'Q8I', 'Q8E', 'Q9A', 'Q9I', 'Q9E', 'Q10A', 'Q10I', 'Q10E', 'Q11A', 'Q11I', 'Q11E', 'Q12A', 'Q12I', 'Q12E', 'Q13A', 'Q13I', 'Q13E', 'Q14A', 'Q14I', 'Q14E', 'Q15A', 'Q15I', 'Q15E', 'Q16A', 'Q16I', 'Q16E', 'Q17A', 'Q17I', 'Q17E', 'Q18A', 'Q18I', 'Q18E', 'Q19A', 'Q19I', 'Q19E', 'Q20A', 'Q20I', 'Q20E', 'country', 'introelapse', 'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4', 'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1', 'VCL2', 'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10', 'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education', 'urban', 'gender', 'engnat', 'age', 'screenw', 'screenh', 'hand', 'religion', 'orientation', 'race', 'voted', 'married', 'familysize', 'major']

In [0]:
# I am most interested in religion
# this is a classification problem
# 13 classes currently (might combine later)

df['religion'].value_counts(dropna=False)

2     17236
1     15114
4      9979
7      7831
12     7463
6      7115
10     2540
8      2047
3      1506
0      1138
9       754
5       601
11      165
Name: religion, dtype: int64

In [0]:
df['religion'].value_counts(normalize=True)

2     0.234539
1     0.205663
4     0.135789
7     0.106560
12    0.101553
6     0.096817
10    0.034563
8     0.027855
3     0.020493
0     0.015485
9     0.010260
5     0.008178
11    0.002245
Name: religion, dtype: float64

In [0]:
# I will use percision or recall as my classification metric.. not sure what, yet
# probably percision

In [0]:
# 2=Atheist 
# 1=Agnostic 
# 4=Christian (Catholic)
# 7=Christian (Other)
# 12=Other
# 6=Christian (Protestant)
# 10=Muslim
# 8=Hindu,
# 3=Buddhist
# 0=Unchecked
# 9=Jewish
# 5=Christian (Mormon)
# 11=Sikh

In [0]:
# if I were to simply guess the majority class, I would guess Athiest every
# time, and be correct about 23% of the time

In [0]:
# time isn't a factor, so I will do random split

In [0]:
# main body consisted of 20 quesitons
questions = {
    "Q1" : "Never tell anyone the real reason you did something unless it is useful to do so.",
    "Q2" : "The best way to handle people is to tell them what they want to hear.",
    "Q3" : "One should take action only when sure it is morally right.",
    "Q4" : "Most people are basically good and kind.",
    "Q5" : "It is safest to assume that all people have a vicious streak and it will come out when they are given a chance.",
    "Q6" : "Honesty is the best policy in all cases.",
    "Q7" : "There is no excuse for lying to someone else.",
    "Q8" : "Generally speaking, people won't work hard unless they're forced to do so.",
    "Q9" : "All in all, it is better to be humble and honest than to be important and dishonest.",
    "Q10" : "When you ask someone to do something for you, it is best to give the real reasons for wanting it rather than giving reasons which carry more weight.",
    "Q11" : "Most people who get ahead in the world lead clean, moral lives.",
    "Q12" : "Anyone who completely trusts anyone else is asking for trouble.",
    "Q13" : "The biggest difference between most criminals and other people is that the criminals are stupid enough to get caught.",
    "Q14" : "Most people are brave.",
    "Q15" : "It is wise to flatter important people.",
    "Q16" : "It is possible to be good in all respects.",
    "Q17" : "P.T. Barnum was wrong when he said that there's a sucker born every minute.",
    "Q18" : "It is hard to get ahead without cutting corners here and there.",
    "Q19" : "People suffering from incurable diseases should have the choice of being put painlessly to death.",
    "Q20" : "Most people forget more easily the death of their parents than the loss of their property."
    }

# possible answers were represented on a 5 point scale
Q_scale = {
    1:'Disagree', 
    2:'Slightly disagree', 
    3:'Neutral', 
    4:'Slightly agree', 
    5:'Agree'
}

# A = answer
# I = position of item it was in the survey
# E = time spent on question in milliseconds


# this data only consists of people who choose to answer
# these next questions...
# brief measure of big five personality domains

personality_inventory = {
    'TIPI1': 'extraverted_enthusiastic', 
    'TIPI2': 'critical_quarrelsome', 
    'TIPI3': 'dependable_selfdisciplined', 
    'TIPI4': 'anxious_easily_upset', 
    'TIPI5':'open_to_new_experiences_complex', 
    'TIPI6': 'reserved_quiet', 
    'TIPI7': 'sympathetic_warm', 
    'TIPI8':'disorganized_careless', 
    'TIPI9':'calm_emotionally_stable',
    'TIP10': 'conventional_uncreative'
}

# rated "I see myself as:" _______ such that
TIP_rating_scale = {
    1:'Disagree strongly',
    2: 'Disagree moderately',
    3: 'Disagree a little',
    4:'Neither agree nor disagree',
    5:'Agree a little',
    6:'Agree moderately',
    7:'Agree strongly'
}


# these words were presentted as a check-list and subjects were instructed
# to check all of thte words whose definitions they are sure they know:
# 1 = checked
# 0 = unchecked
# words at VCL6, VCL9, and VCL12 are not real words

known_words= {
    'VCL1':'boat',
    'VCL2':'incoherent',
    'VCL3':'pallid',
    'VCL4':'robot',
    'VCL5':'audible',
    'VCL6':'cuivocal_fale',
    'VCL7':'paucity',
    'VCL8':'epistemology',
    'VCL9':'florted_fake',
    'VCL10':'decide',
    'VCL11':'pastiche',
    'VCL12':'verdid_fake',
    'VCL13':'abysmal',
    'VCL14':'lucid',
    'VCL15':'betray',
    'VCL16':'funny'
}


# more questions that were asked...

education_level = {
    1:'Less than high school', 
    2:'High school', 
    3:'University degree', 
    4:'Graduate degree'
}

area_lived_when_child = {
    1:'Rural (country side)', 
    2:'Suburban', 
    3:'Urban (town, city)'
}

gender = {
    1:'Male',
    2:'Female',
    3:'Other'
}

english_native_language = {
    1:'Yes',
    2:'No'
}

dominant_hand = {
    1:'Right',
    2:'Left',
    0:'Both'
}

religion = {
    0:'Unchecked',
    1:'Agnostic',
    2:'Atheist',
    3:'Buddhist',
    4:'Christian (Catholic)',
    5:'Christian (Mormon)',
    6:'Christian (Protestant)',
    7:'Christian (Other)',
    8:'Hindu',
    9:'Jewish',
    10:'Muslim',
    11:'Sikh',
    12:'Other'
}

sexual_orientation = {
    1:'Heterosexual',
    2:'Bisexual', 
    3:'Homosexual', 
    4:'Asexual', 
    5:'Other'
}

race = {
    10:'Asian',
    20:'Arab', 
    30:'Black',
    40:'Indigenous Australian',
    50:'Native American', 
    60:'White',
    70:'Other'
}

voted_past_year = {
    1:'yes',
    2:'no'
}

marital_status = {
    1:'Never married', 
    2:'Currently married', 
    3:'Previously married'
}

# country, screenw, screenh were calculated by server. 
# we don't care about that. (maybe country)

# time spent on each page was recorded in seconds
# introelapse
# testelapse
# surveyelapse

In [0]:
pd.options.display.max_rows = 999
df.isnull().sum()


df[df['Q1A'].isnull()]

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screenw,screenh,hand,religion,orientation,race,voted,married,familysize,major
26286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,360.0,640.0,1,2,1,20,2,1,2,NaN
31072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1440.0,900.0,1,6,1,30,1,2,3,math/science
33399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1366.0,768.0,1,4,1,60,2,2,5,Electronic Engineering

In [0]:
from pandas_profiling import ProfileReport
profile = ProfileReport(train, minimal=True)

profile.to_notebook_iframe()

In [0]:
# save as html file so that I don't have to run it every time....
profile.to_file(output_file='mact_report.html')

In [0]:
train1, test = train_test_split(df, test_size= .2, random_state=42, stratify=df['religion'])

In [0]:
train1.shape, test.shape

((58791, 105), (14698, 105))

In [0]:
def wrangle(X):
    
    X = X.copy()
    
    # looks like all of the NaNs are together....
    #drop these rows 
    X = X.dropna(thresh=45)
    
    # drop user's screen width bc I couldn't care less
    X = X.drop(columns=['screenw', 'screenh'])
    
    return X

train1 = wrangle(train1)
test = wrangle(test)

In [0]:
train, val = train_test_split(train1, test_size=.20, stratify=train1['religion'], random_state=42)

In [0]:
train.shape, val.shape, test.shape

((47031, 103), (11758, 103), (14697, 103))

In [0]:
# I want to use all features, then select feature importance

# define target

target = 'religion'
train_features = train.drop(columns=[target])
features = train_features.columns.tolist()

In [0]:
# arrange data into X features matrix and y target vector

# training data
X_train = train[features]
y_train = train[target]

# validation data
X_val = val[features]
y_val = val[target]

# testing data
X_test = test[features]

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.impute import SimpleImputer


pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='mean'),
    RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1, max_depth=18)
    
)

pipeline.fit(X_train, y_train)
print('Train Accuracy', pipeline.score(X_train, y_train))
print('Validation Accuracy', pipeline.score(X_val, y_val))

Train Accuracy 0.9929620888350237
Validation Accuracy 0.3185915972104099

In [0]:
# will alllll the features. I am way over training the model. I am going
# to see what the most important features are and start narrowing in