<a href="https://colab.research.google.com/github/JaimieOnigkeit/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/Jaimie_Onigkeit_LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

**I'm actually using a dataset I found on Kaggle for now.**

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?

**composite score over 210**
- [ ] Is your problem regression or classification?

**classification**
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced? **4**
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy? **My majority class is 54.1%, so I'll just use accuracy**
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split? **random split**
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/JaimieOnigkeit/Unit-2-Build-Week/master/StudentsPerformance.csv')

In [4]:
df.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [5]:
df.rename(columns={'gender':'gender',
                   'race/ethnicity':'race_ethnicity',
                   'parental level of education':'parent_education_level',
                   'lunch':'lunch',
                   'test preparation course': 'test_prep_course',
                   'math score':'math_score',
                   'reading score':'reading_score',
                   'writing score':'writing_score'},
          inplace=True)
df.head()

   gender race_ethnicity  ... reading_score writing_score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [11]:
df.shape

(1000, 9)

In [6]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [0]:
df['composite'] = df.math_score + df.reading_score + df.writing_score

In [27]:
#459 out of 1000. Majority class is 54.1%
df[df.composite >= 210]

     gender race_ethnicity  ... writing_score composite
0    female        group B  ...            74       218
1    female        group C  ...            88       247
2    female        group B  ...            93       278
4      male        group C  ...            75       229
5    female        group B  ...            78       232
..      ...            ...  ...           ...       ...
990    male        group E  ...            75       242
991  female        group B  ...            78       225
995  female        group E  ...            95       282
998  female        group D  ...            77       223
999  female        group D  ...            86       249

[459 rows x 9 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
train, test = train_test_split(df, test_size=.20, random_state=25)
#train_test_split(X, y, test_size=0.33, random_state=42)

In [32]:
train.shape

(800, 9)

In [33]:
test.shape

(200, 9)

In [0]:
train, val = train_test_split(train, test_size=.20, random_state=25)

In [35]:
train.shape

(640, 9)

In [36]:
val.shape

(160, 9)

In [0]:
target='composite'
#dropping the individual test results to prevent leakage
features= ['gender',	
           'race_ethnicity',	
           'parent_education_level',	
           'lunch',
           'test_prep_course']

In [0]:
X_train = train[features]
y_train = train[target]

X_val = val[features]
y_val = val[target]

X_test = test[features]
y_val = test[target]