Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [1]:
# import the trio
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn for plotting distributions
import seaborn as sns
# impor some various things from sklearn
# validation split
from sklearn.model_selection import train_test_split
# metrics to grade my model with
from sklearn.metrics import accuracy_score, roc_auc_score,roc_curve
# baseline model
from sklearn.linear_model import LogisticRegression
# pipeline
from sklearn.pipeline import make_pipeline
# going to look into using Pricipal components decomposition for dimentionallity reduction
from sklearn.decomposition import PCA

## First I'm going to want to just lookm at some general stats like which columns are cat features which are numeric features, what are the nulls and cardinality of thoose columns do we need to impute or can we just fill them

## then im going to want to evaluate wither i have any problems with my set are the classes balenced(i already know that they are not)
- is there a way to fix the class imbalence?

In [17]:
df=pd.read_csv('../data/project/PS_20174392719_1491204439457_log.csv')

In [18]:
print(df.shape)
df.head()

(6362620, 11)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [19]:
target='isFraud'

In [ ]:
df.head()