<a href="https://colab.research.google.com/github/alfaroqueIslam/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import pandas as pd
from statistics import mean

In [2]:
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [0]:
from google.colab import files
uploaded1 = files.upload()

Saving Men T20I Team Match Results - 21st Century.csv to Men T20I Team Match Results - 21st Century.csv

In [3]:
# This will be a classification problem determining whether a match was won or lost.
df = pd.read_csv('Men T20I Player Innings Stats - 21st Century.csv')
df

FileNotFoundError: [Errno 2] File Men T20I Player Innings Stats - 21st Century.csv does not exist: 'Men T20I Player Innings Stats - 21st Century.csv'

In [0]:
df.columns = df.columns.str.replace(" ","_")
df

            Innings_Player  ... Innings_Economy_Rate
0                 AD Hales  ...                  NaN
1                 DJ Malan  ...                  NaN
2                LJ Wright  ...                  NaN
3                 AD Hales  ...                  NaN
4                 AD Hales  ...                  NaN
...                    ...  ...                  ...
104617       Asghar Afghan  ...                    -
104618   Najibullah Zadran  ...                    -
104619   Hazratullah Zazai  ...                    -
104620      Ibrahim Zadran  ...                    -
104621  Rahmanullah Gurbaz  ...                    -

[104622 rows x 28 columns]

In [0]:
df.rename(columns={"Innings_Date":"Match_Date"},inplace=True )

In [0]:
df1 = pd.read_csv('Men T20I Team Match Results - 21st Century.csv')
df1.columns = df1.columns.str.replace(" ","_")
df1

     Result     Margin  ... Matches      Country
0       Won   100 runs  ...       1      England
1      Lost     2 runs  ...       1      England
2      Lost  5 wickets  ...       1      England
3      Lost    77 runs  ...       1      England
4      Lost    15 runs  ...       1      England
...     ...        ...  ...     ...          ...
1642    Won    41 runs  ...       1  Afghanistan
1643    Won    29 runs  ...       1  Afghanistan
1644    Won    11 runs  ...       1  Afghanistan
1645    Won    21 runs  ...       1  Afghanistan
1646   Tied          -  ...       1  Afghanistan

[1647 rows x 11 columns]

In [0]:
df['Innings_Runs_Scored_Buckets'].value_counts()

0-49       34793
-          14595
50-99       2800
100-149      114
150-199        9
Name: Innings_Runs_Scored_Buckets, dtype: int64

In [0]:
dfbat = df[['Innings_Player',	'Innings_Runs_Scored',	'Innings_Runs_Scored_Num',	'Innings_Minutes_Batted',	'Innings_Batted_Flag',
              'Innings_Not_Out_Flag',	'Innings_Balls_Faced',	'Innings_Boundary_Fours',
              'Innings_Boundary_Sixes',	'Innings_Batting_Strike_Rate',	'Innings_Number',	'Opposition',	'Ground',	'Match_Date',
              'Country',	"50's",	"100's",	'Innings_Runs_Scored_Buckets']]
dfbat = dfbat.dropna()
dfbat.drop(dfbat[dfbat['Innings_Runs_Scored'] == 'DNB'].index, inplace = True)
dfbat.replace('-', 0, inplace=True)
dfbat

            Innings_Player  ... Innings_Runs_Scored_Buckets
0                 AD Hales  ...                     100-149
1                 DJ Malan  ...                     100-149
2                LJ Wright  ...                       50-99
3                 AD Hales  ...                       50-99
4                 AD Hales  ...                       50-99
...                    ...  ...                         ...
101617       Asghar Afghan  ...                        0-49
101618       Asghar Afghan  ...                        0-49
101619  Rahmanullah Gurbaz  ...                        0-49
101620   Hazratullah Zazai  ...                        0-49
101621         Rashid Khan  ...                        0-49

[38310 rows x 18 columns]

In [0]:
dfbowl = df[['Innings_Player', 'Innings_Overs_Bowled',	'Innings_Bowled_Flag',	'Innings_Maidens_Bowled',	'Innings_Runs_Conceded',	'Innings_Wickets_Taken',
             '4_Wickets',	'5_Wickets',	'10_Wickets',	'Innings_Wickets_Taken_Buckets',	'Innings_Economy_Rate', 'Match_Date', 'Country', 'Ground']]
dfbowl = dfbowl.dropna()
dfbowl.drop(dfbowl[dfbowl['Innings_Overs_Bowled'] == 'DNB'].index, inplace = True)
dfbowl

        Innings_Player Innings_Overs_Bowled  ...      Country         Ground
3994         CJ Jordan                  2.0  ...      England     Basseterre
3995         DJ Willey                  3.0  ...      England     Basseterre
3996         RS Bopara                  3.4  ...      England       The Oval
3997          JL Denly                  4.0  ...      England  Colombo (RPS)
3998    PD Collingwood                  4.0  ...      England    Southampton
...                ...                  ...  ...          ...            ...
104218   Sayed Shirzad                  4.0  ...  Afghanistan       Dehradun
104219   Mohammad Nabi                  4.0  ...  Afghanistan    Dubai (DSC)
104220   Mohammad Nabi                  4.0  ...  Afghanistan  Colombo (RPS)
104221   Mohammad Nabi                  4.0  ...  Afghanistan  Greater Noida
104222     Rashid Khan                  4.0  ...  Afghanistan         Mumbai

[28387 rows x 14 columns]

In [0]:
df2 = df1.drop_duplicates(subset=['Match_Date', 'Country', 'Ground'])
dfbat_merge = pd.merge(dfbat,df2, on=['Match_Date', 'Country', 'Ground'], how='inner')
dfbat_merge

           Innings_Player Innings_Runs_Scored  ... Match_Period Matches
0                AD Hales                116*  ...     Mar 2014       1
1              EJG Morgan                  57  ...     Mar 2014       1
2               RS Bopara                 11*  ...     Mar 2014       1
3              JC Buttler                   2  ...     Mar 2014       1
4                 MJ Lumb                   0  ...     Mar 2014       1
...                   ...                 ...  ...          ...     ...
38305          Amir Hamza                  6*  ...     Jun 2017       1
38306     Noor Ali Zadran                   6  ...     Jun 2017       1
38307         Rashid Khan                   2  ...     Jun 2017       1
38308         Shafiqullah                   1  ...     Jun 2017       1
38309  Samiullah Shinwari                   0  ...     Jun 2017       1

[38310 rows x 26 columns]

In [0]:
dfbat_merge.isnull().sum().sum()

0

In [0]:
dfbowl_merge = pd.merge(dfbowl,df2, on=['Match_Date', 'Country', 'Ground'], how='inner')
dfbowl_merge

           Innings_Player Innings_Overs_Bowled  ...  Match_Period Matches
0               CJ Jordan                  2.0  ...      Mar 2019       1
1             LE Plunkett                  2.5  ...      Mar 2019       1
2               AU Rashid                  3.0  ...      Mar 2019       1
3               DJ Willey                  3.0  ...      Mar 2019       1
4               TK Curran                  1.0  ...      Mar 2019       1
...                   ...                  ...  ...           ...     ...
28382      Shapoor Zadran                  3.0  ...      Mar 2016       1
28383       Mohammad Nabi                  4.0  ...      Mar 2016       1
28384       Dawlat Zadran                  3.0  ...      Mar 2016       1
28385  Samiullah Shinwari                  3.0  ...      Mar 2016       1
28386         Rashid Khan                  4.0  ...      Mar 2016       1

[28387 rows x 22 columns]

In [0]:
dfbowl_merge.isnull().sum().sum()

0

In [0]:
battrain = dfbat_merge[dfbat_merge.Match_Year.between(2014,2017)]
batval = dfbat_merge[dfbat_merge['Match_Year'] == 2018]
battest = dfbat_merge[dfbat_merge['Match_Year'] == 2019]
battrain.shape, batval.shape, battest.shape

((11559, 26), (3876, 26), (5136, 26))

In [0]:
# 4 classes to deal with
# The majority class is over 50%
battrain['Result'].value_counts(normalize=True)

Lost    0.531793
Won     0.438360
N/R     0.024916
Tied    0.004931
Name: Result, dtype: float64

In [0]:
# Target is the Result column
target = 'Result'


battrain_features = battrain.drop(columns=[target])

numeric_features = battrain_features.select_dtypes(include='number').columns.tolist()

cardinality = battrain_features.select_dtypes(exclude='number').nunique()

categorical_features = cardinality.index.tolist()

features = numeric_features + categorical_features


print(features)

['Innings_Batted_Flag', 'Innings_Not_Out_Flag', "50's", "100's", 'Match_Year', 'Matches', 'Innings_Player', 'Innings_Runs_Scored', 'Innings_Runs_Scored_Num', 'Innings_Minutes_Batted', 'Innings_Balls_Faced', 'Innings_Boundary_Fours', 'Innings_Boundary_Sixes', 'Innings_Batting_Strike_Rate', 'Innings_Number', 'Opposition', 'Ground', 'Match_Date', 'Country', 'Innings_Runs_Scored_Buckets', 'Margin', 'Match', 'Home/Away', 'Match_Month', 'Match_Period']

In [0]:
X_train = battrain.drop(columns=target)
y_train = battrain[target]
X_val = batval.drop(columns=target)
y_val = batval[target]
X_test = battest.drop(columns=target)
y_test = battest[target]

In [0]:
!pip install --upgrade category_encoders
import category_encoders as ce
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 3.3MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.0.4)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.15.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
%%time
pipeline = make_pipeline(
    ce.OrdinalEncoder(), 
    SimpleImputer(strategy='median'), 
    RandomForestClassifier(random_state=0, n_jobs=-1)
)


pipeline.fit(X_train, y_train)
print('Validation Accuracy', pipeline.score(X_val, y_val))
print('Test Accuracy', pipeline.score(X_test, y_test))

Validation Accuracy 0.6253869969040248
Test Accuracy 0.5642523364485982
CPU times: user 2.68 s, sys: 51.6 ms, total: 2.73 s
Wall time: 1.76 s

In [0]:
%%time
pipeline = make_pipeline(
    ce.OneHotEncoder(), 
    SimpleImputer(strategy='median'), 
    RandomForestClassifier(random_state=0, n_jobs=-1)
)


pipeline.fit(X_train, y_train)
print('Validation Accuracy', pipeline.score(X_val, y_val))
print('Test Accuracy', pipeline.score(X_test, y_test))

Validation Accuracy 0.8243034055727554
Test Accuracy 0.7313084112149533
CPU times: user 21 s, sys: 662 ms, total: 21.7 s
Wall time: 15.9 s

In [0]:
# OneHotEnocoder provided much better results than Ordinal Encoder