<a href="https://colab.research.google.com/github/trevorwjames/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/LS_DS_231_assignment_Trevor_James.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/trevorwjames/Build-Week-2-Predictive-Modeling/master/datasets_13996_18858_WA_Fn-UseC_-Telco-Customer-Churn.csv')

# Target
  - The target for my analysis will be "Churn". This is a variable involving a customers choice to remain the with provider. Churn is a negative attribute in which the customer does not decide to resign with, in this case, Telco. Churn = No, customer stays on. Churn = Yes, customer leaves. 
  - This is a classification problem - we are looking at finite values in one of two classes.

In [ ]:
df['Churn'].nunique()

2

In [ ]:
df['Churn'].value_counts(normalize=True)

No     0.73463
Yes    0.26537
Name: Churn, dtype: float64

## Target Distribution 
  - Looks like we have a bit of a skewed distribution with just about 74% being in the No category. Predciting above that will be a task. 
  - Because of the generalization of the churn metric, looking at recall could be useful to identify any person that has a chance of not renewing. The key here to help identify feature importance in what has the largest impact on what keeps a customer on or not.

# Train / Val / Test Split
  - From the looks of the data, there are no dates or information to make difinitive splits based on dates. This leads me to believe that the split should be done at random. I need to make sure I stratify the split to ensure I have a equal distribution representative of the target in all sets. 
-

# Data Cleaning and Wrangling
   - Majority of my features are categorical features. this will take some encoding and cleaning to make sure they are usable. Most features should prove to be fairly important.
   - 'CustomerID' will be dropped
   - 'TotalChargers' is currently and object, that will need to be converted to a float or int. 
   - We can change the Yes/No items to 1/0. 
   -

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [15]:
df['MonthlyCharges'].describe()

count    7043.000000
mean       64.761692
std        30.090047
min        18.250000
25%        35.500000
50%        70.350000
75%        89.850000
max       118.750000
Name: MonthlyCharges, dtype: float64

In [16]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [24]:
# trying to convert TotalCharges to a float... not sure why it will not let me. 
df['TotalCharges'] = df.TotalCharges.astype(float)

ValueError: ignored