<a href="https://colab.research.google.com/github/TheLadyJack/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [2]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving vgsales.csv to vgsales.csv

In [5]:
df = pd.read_csv('vgsales.csv')
print(df.shape)
df.head()

(16598, 11)

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [6]:
df.describe(include='all')

                Rank                         Name  ...   Other_Sales  Global_Sales
count   16598.000000                        16598  ...  16598.000000  16598.000000
unique           NaN                        11493  ...           NaN           NaN
top              NaN  Need for Speed: Most Wanted  ...           NaN           NaN
freq             NaN                           12  ...           NaN           NaN
mean     8300.605254                          NaN  ...      0.048063      0.537441
std      4791.853933                          NaN  ...      0.188588      1.555028
min         1.000000                          NaN  ...      0.000000      0.010000
25%      4151.250000                          NaN  ...      0.000000      0.060000
50%      8300.500000                          NaN  ...      0.010000      0.170000
75%     12449.750000                          NaN  ...      0.040000      0.470000
max     16600.000000                          NaN  ...     10.570000     82.740000

[11 rows x 11 columns]

In [0]:
#for a target I'm going to choose NA_sales

In [0]:
#it is a regression problem
#I will need to omit total sales, as it's a Major data leak