Lambda School Data Science

*Unit 2, Sprint 3, Module 2*

---

# Wrangle ML datasets 
- Explore tabular data for supervised machine learning
- Join relational data for supervised machine learning

# Explore tabular data for superviesd machine learning üçå

Wrangling your dataset is often the most challenging and time-consuming part of the modeling process.

In today's lesson, we‚Äôll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

Let‚Äôs get set up:

In [77]:
# Download data
import requests

def download(url):
    filename = url.split('/')[-1]
    print(f'Downloading {url}')
    r = requests.get(url)
    with open(filename, 'wb') as f:
        f.write(r.content)
    print(f'Downloaded {filename}')

download('https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz')

Downloading https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Downloaded instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# Uncompress data
import tarfile
tarfile.open('instacart_online_grocery_shopping_2017_05_01.tar.gz').extractall()

In [79]:
# Change directory to where the data was uncompressed
%cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01/instacart_2017_05_01

In [80]:
# Print the csv filenames
from glob import glob
for filename in glob('*.csv'):
    print(filename)

orders.csv
departments.csv
products.csv
aisles.csv
order_products__prior.csv
order_products__train.csv

In [0]:
# For each csv file, look at its shape & head
import pandas as pd
from IPython.display import display

def preview():
  for filename in glob('*.csv'):
    df = pd.read_csv(filename)
    print('/n', filename, df.shape)
    display(df.head())

In [82]:
preview()

/n orders.csv (3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

/n departments.csv (21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

/n products.csv (49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

/n aisles.csv (134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

/n order_products__prior.csv (32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

/n order_products__train.csv (1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### The original task was complex ...

[The Kaggle competition said,](https://www.kaggle.com/c/instacart-market-basket-analysis/data):

> The dataset for this competition is a relational set of files describing customers' orders over time. The goal of the competition is to predict which products will be in a user's next order.

> orders.csv: This file tells to which set (prior, train, test) an order belongs. You are predicting reordered items only for the test set orders.

Each row in the submission is an order_id from the test set, followed by product_id(s) predicted to be reordered.

> sample_submission.csv: 
```
order_id,products
17,39276 29259
34,39276 29259
137,39276 29259
182,39276 29259
257,39276 29259
```

### ... but we can simplify!

Simplify the question, from "Which products will be reordered?" (Multi-class, [multi-label](https://en.wikipedia.org/wiki/Multi-label_classification) classification) to **"Will customers reorder this one product?"** (Binary classification)

Which product? How about **the most frequently ordered product?**

### Questions:

- What is the most frequently ordered product?
- How often is this product included in a customer's next order?
- Which customers have ordered this product before?
- How can we get a subset of data, just for these customers?
- What features can we engineer? We want to predict, will these customers reorder this product on their next order?

## Follow Along

### What was the most frequently ordered product?

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [0]:
products = pd.read_csv('products.csv')

In [85]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [86]:
order_products__train['product_id'].value_counts()[:5]

24852    18726
13176    15480
21137    10894
21903     9784
47626     8135
Name: product_id, dtype: int64

In [87]:
train = pd.merge(order_products__train, products, on='product_id', how='inner')
train.head()

   order_id  product_id  ...  aisle_id  department_id
0         1       49302  ...       120             16
1    816049       49302  ...       120             16
2   1242203       49302  ...       120             16
3   1383349       49302  ...       120             16
4   1787378       49302  ...       120             16

[5 rows x 7 columns]

In [88]:
train['product_name'].value_counts()[:10]

Banana                    18726
Bag of Organic Bananas    15480
Organic Strawberries      10894
Organic Baby Spinach       9784
Large Lemon                8135
Organic Avocado            7409
Organic Hass Avocado       7293
Strawberries               6494
Limes                      6033
Organic Raspberries        5546
Name: product_name, dtype: int64

### How often are bananas included in a customer's next order?

There are [three sets of data](https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b):

> "prior": orders prior to that users most recent order (3.2m orders)  
"train": training data supplied to participants (131k orders)  
"test": test data reserved for machine learning competitions (75k orders)

Customers' next orders are in the "train" and "test" sets. (The "prior" set has the orders prior to the most recent orders.)

We can't use the "test" set here, because we don't have its labels (only Kaggle & Instacart have them), so we don't know what products were bought in the "test" set orders.

So, we'll use the "train" set. It currently has one row per product_id and multiple rows per order_id.

But we don't want that. Instead we want one row per order_id, with a binary column: "Did the order include bananas?"

Let's wrangle!

In [89]:
train.head()

   order_id  product_id  ...  aisle_id  department_id
0         1       49302  ...       120             16
1    816049       49302  ...       120             16
2   1242203       49302  ...       120             16
3   1383349       49302  ...       120             16
4   1787378       49302  ...       120             16

[5 rows x 7 columns]

In [114]:
def banana_wrangler(row):
  if row['product_name'] == 'Banana':
    return 1
  if row['product_name'] != 'Banana':
    return 2  

train['binary_banana'] = train.apply(banana_wrangler, axis=1)
train['binary_banana'].value_counts(normalize=True)

2    0.986476
1    0.013524
Name: binary_banana, dtype: float64

In [106]:
train[['reordered', 'product_name']].loc[train.reordered > 0]
train['product_name'].value_counts(normalize=True)

Banana                      1.352432e-02
Bag of Organic Bananas      1.117999e-02
Organic Strawberries        7.867880e-03
Organic Baby Spinach        7.066214e-03
Large Lemon                 5.875271e-03
                                ...
Pan Liner Paper 30 sq ft    7.222214e-07
Fig Preserve                7.222214e-07
White Cake Icing            7.222214e-07
Unscented 3 in 1 Soap       7.222214e-07
Chick Pea Salad             7.222214e-07
Name: product_name, Length: 39123, dtype: float64

In [104]:
train['product_name'].str.contains('anana')

0          False
1          False
2          False
3          False
4          False
           ...
1384612    False
1384613    False
1384614    False
1384615    False
1384616    False
Name: product_name, Length: 1384617, dtype: bool

In [105]:
bananas = train[(train['product_name'] == 'Bananas') & (train['reordered'] == 1)]
bananas.count()/train.count()

order_id             0.000218
product_id           0.000218
add_to_cart_order    0.000218
reordered            0.000218
product_name         0.000218
aisle_id             0.000218
department_id        0.000218
dtype: float64

In [116]:
# actual answer
train['bananas'] = train['product_name'] == 'Banana'
train['bananas'].value_counts(normalize=True)

False    0.986476
True     0.013524
Name: bananas, dtype: float64

In [118]:
train_wrangled = train.groupby('order_id')['bananas'].any().reset_index()
train_wrangled

        order_id  bananas
0              1    False
1             36    False
2             38    False
3             96    False
4             98    False
...          ...      ...
131204   3421049    False
131205   3421056    False
131206   3421058    False
131207   3421063    False
131208   3421070    False

[131209 rows x 2 columns]

# Join relational data for supervised machine learning

## Overview
Often, you‚Äôll need to join data from multiple relational tables before you‚Äôre ready to fit your models.

### Which customers have ordered this product before?

- Customers are identified by `user_id`
- Products are identified by `product_id`

Do we have a table with both these id's? (If not, how can we combine this information?)

## Follow Along

### How can we get a subset of data, just for these customers?

We want *all* the orders from customers who have *ever* bought bananas.

(And *none* of the orders from customers who have *never* bought bananas.)

### What features can we engineer? We want to predict, will these customers reorder bananas on their next order?

## Challenge

**Continue to clean and explore your data.** Can you **engineer features** to help predict your target? For the evaluation metric you chose, what score would you get just by guessing? Can you **make a fast, first model** that beats guessing?

We recommend that you use your portfolio project dataset for all assignments this sprint. But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset today. Follow the instructions in the assignment notebook. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!