Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

Your code starts here:

In [2]:
#this is some free form exploration.  Just trying to figure out whats going on here and poke 
#around some before I get to my actual strategy.

import pandas as pd

#the dots represent how many folders up we have to go before looking for the file
folder = '../../DS-Unit-2-Build/bosch-production-line-performance/'

#we are going to read in chunks of 1k for right now to keep from overloading my ram
cat_iter = pd.read_csv(folder + 'train_categorical.csv', iterator = True, chunksize = 1000)

num_iter = pd.read_csv(folder + 'train_numeric.csv', iterator = True, chunksize = 1000)

date_iter = pd.read_csv(folder + 'train_date.csv', iterator = True, chunksize = 1000)

In [11]:
cat = cat_iter.get_chunk()

/home/felix/anaconda3/envs/anaconda_env/lib/python3.8/site-packages/IPython/core/async_helpers.py:68: DtypeWarning: Columns (335,406,408,409,411,412,414,415,417,418,420,421,423,424,426,427,429,430,432,433,435,436,438,439,441,442,444,445,447,448,450,451,453,454,456,457,459,460,462,611,614,617,620,623,626,629,632,635,638,641,644,647,650,653,656,659,662,665,1126,1129,1132,1135,1138,1141,1144,1147,1183,1185,1188,1191,1194,1197,1200,1203,1206,1209,1212,1215,1218,1221,1224,1227,1230,1233,1236,1239,1242,1245,1248,1251,1254,1257,1260,1263,1266,1269,1272,1275,1278,1288,1298,1300,1303,1306,1309,1312,1315,1318,1321,1324,1327,1330,1333,1336,1339,1342,1345,1348,1351,1354,1357,1360,1363,1366,1369,1372,1375,1378,1381,1384,1387,1390,1393,1419,1527,1530,1533,1536,1539,1542,1545,1548,1657,1659,1661,1663,1665,1667,1669,1671,1673,1675,1677,1679,1681,1683,1685,1687,1689,1691,1693,1694,1696,1698,1700,1702,1704,1706,1708,2076,2077,2078,2079,2080,2081,2082,2083) have mixed types.Specify dtype option on import or set low_memory=False.
  coro.send(None)

In [12]:
cat.describe()

,Id,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S2_F37,L0_S2_F39,L0_S2_F41,...,L3_S49_F4225,L3_S49_F4227,L3_S49_F4229,L3_S49_F4230,L3_S49_F4232,L3_S49_F4234,L3_S49_F4235,L3_S49_F4237,L3_S49_F4239,L3_S49_F4240
count,1000.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,8972.56800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,571.59589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,8003.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,8466.75000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,8976.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,9447.25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,9974.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
cat.shape

(1000, 2141)

In [22]:
cat.drop(columns = 'Id').sum().sum()

0.0

In [36]:
cat.drop(columns = 'Id').notna().sum().value_counts()

0      1618
2        70
664      60
9        46
1        32
22       29
21       29
105      27
200      27
3        26
12       23
7        19
18       19
62       19
56       19
4        17
8        16
23       13
45       11
117      10
632       3
118       2
5         2
43        2
114       1
dtype: int64

In [41]:
#Okay so there are some values in there.  Lets try a drop only all empty values
cat.drop(columns = 'Id').dropna(how = 'all').describe()

,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S2_F37,L0_S2_F39,L0_S2_F41,L0_S2_F43,...,L3_S49_F4225,L3_S49_F4227,L3_S49_F4229,L3_S49_F4230,L3_S49_F4232,L3_S49_F4234,L3_S49_F4235,L3_S49_F4237,L3_S49_F4239,L3_S49_F4240
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#okay so there are definitely values in there.  I wonder if imputing would help any

## Explore and Clean strategy
Okay after taking that quick look above, I know that just chunking in information isn't going to be as useful as I want it to be.  Essentially I'm chunking in huge, mostly empty dataframes.  So I think I will run my numerical and categorical data through two different models, and use a stacking/voting techinque.  So basically if a uniqe part had no categorical data, then my categorical model will not have a vote so to speak.
### Step 1 verify id
I need to verify that in each data set, that a unique part ID is never duplicated.  I'd assume not, but I can read in that column and find out.
### Step 2 Throw out nans
chunk in, but throw out anything without values.  Concat any actual values we get
### Step 3 Inspect
Check the resulting data frame, and get an idea of what is actually in there.
### Step 4 Impute
I can't just leave those nans in there.  So I'm going to try some imputing.
### Step 5 basic model
I just want to get a simple mvp model to try.

In [42]:
#step 1
check_id = pd.read_csv(folder + 'train_numeric.csv', usecols = ['Id'], squeeze = True)
print(check_id.shape)

(1183747,)

In [45]:
check_id.value_counts(ascending = False)

4094       1
2140480    1
854260     1
852213     1
856311     1
          ..
1899829    1
1895735    1
1869114    1
1871163    1
2099201    1
Name: Id, Length: 1183747, dtype: int64

In [ ]:
#okay definitely unique.  Lets verify we have the same IDs in the categorical and the date
#data sets
cat_id = p.dread_csv(folder + 'categorical_')

In [ ]:
#okay lets make a little loop to knock this out.  I looked at the categorical up there, but 
#maybe the numeric would be better since it has our target

num_iter = pd.read_csv(folder + 'train_numeric.csv', iterator = True, chunksize = 1000)

num = pd.DataFrame()

for chunk in num_iter:
    num