Lambda School Data Science

*Unit 2, Sprint 3, Module 2*

---

# Wrangle ML datasets 
- Explore tabular data for supervised machine learning
- Join relational data for supervised machine learning

# Explore tabular data for superviesd machine learning üçå

Wrangling your dataset is often the most challenging and time-consuming part of the modeling process.

In today's lesson, we‚Äôll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

Let‚Äôs get set up:

In [1]:
# Download data
import requests

def download(url):
    filename = url.split('/')[-1]
    print(f'Downloading {url}')
    r = requests.get(url)
    with open(filename, 'wb') as f:
        f.write(r.content)
    print(f'Downloaded {filename}')

download('https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz')

Downloading https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Downloaded instacart_online_grocery_shopping_2017_05_01.tar.gz

In [2]:
# Uncompress data
import tarfile
tarfile.open('instacart_online_grocery_shopping_2017_05_01.tar.gz').extractall()

In [3]:
# Change directory to where the data was uncompressed
%cd instacart_2017_05_01

/mnt/c/Users/joe/OneDrive/Desktop/SCHOOL/2-3/module2-wrangle-ml-datasets/instacart_2017_05_01

In [4]:
# Print the csv filenames
from glob import glob
for filename in glob('*.csv'):
    print(filename)

aisles.csv
departments.csv
orders.csv
order_products__prior.csv
order_products__train.csv
products.csv

In [5]:
# For each csv file, look at its shape & head 
import pandas as pd
from IPython.display import display
def preview():
    for filename in glob('*.csv'):
        df=pd.read_csv(filename)
        print('\n',filename,df.shape)
        display(df.head())
preview()

 aisles.csv (134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

 departments.csv (21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

 orders.csv (3421083, 7)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

 order_products__prior.csv (32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

 order_products__train.csv (1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

 products.csv (49688, 4)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [6]:
train=pd.read_csv('order_products__train.csv')

In [7]:
products=pd.read_csv('products.csv')
train = pd.merge(train, products, on='product_id', how='inner')

In [8]:
bananas = train[(train['product_name'].str.contains('anana')) & (train['reordered'] == 1)]
(bananas.count()/train.count()*100)[0]

2.515569287391387

### ... but we can simplify!

Simplify the question, from "Which products will be reordered?" (Multi-class, [multi-label](https://en.wikipedia.org/wiki/Multi-label_classification) classification) to **"Will customers reorder this one product?"** (Binary classification)

Which product? How about **the most frequently ordered product?**

### Questions:

- What is the most frequently ordered product?
- How often is this product included in a customer's next order?
- Which customers have ordered this product before?
- How can we get a subset of data, just for these customers?
- What features can we engineer? We want to predict, will these customers reorder this product on their next order?

## Follow Along

### What was the most frequently ordered product?

### How often are bananas included in a customer's next order?

There are [three sets of data](https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b):

> "prior": orders prior to that users most recent order (3.2m orders)  
"train": training data supplied to participants (131k orders)  
"test": test data reserved for machine learning competitions (75k orders)

Customers' next orders are in the "train" and "test" sets. (The "prior" set has the orders prior to the most recent orders.)

We can't use the "test" set here, because we don't have its labels (only Kaggle & Instacart have them), so we don't know what products were bought in the "test" set orders.

So, we'll use the "train" set. It currently has one row per product_id and multiple rows per order_id.

But we don't want that. Instead we want one row per order_id, with a binary column: "Did the order include bananas?"

Let's wrangle!

# Join relational data for supervised machine learning

## Overview
Often, you‚Äôll need to join data from multiple relational tables before you‚Äôre ready to fit your models.

### Which customers have ordered this product before?

- Customers are identified by `user_id`
- Products are identified by `product_id`

Do we have a table with both these id's? (If not, how can we combine this information?)

In [14]:
b_set=train[train.product_name.str.contains('Banana')]

In [12]:
orders=pd.read_csv('orders.csv')
orders.sample(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2161501,2321439,130035,prior,13,4,8,2.0
2659027,2848021,160060,prior,19,6,19,7.0
1755202,1084076,105338,prior,34,1,3,3.0
2371782,2120788,142755,prior,31,2,8,8.0
342994,2163784,20760,prior,4,5,12,8.0

In [16]:
# a subset of the orders that contain bannanas
# we can new get more information about the users that are getting bananas
# for the given dataframe how do you get a list of user id's
order_b_set=orders[orders.order_id.isin(b_set.order_id)]

In [17]:
order_b_set.user_id.value_counts().index.to_list()

[182168,
 183923,
 206126,
 15661,
 144684,
 66858,
 138537,
 5416,
 104288,
 32037,
 60759,
 95524,
 195677,
 83234,
 154913,
 87328,
 142558,
 42270,
 183603,
 130357,
 126263,
 189870,
 193876,
 122193,
 186282,
 9550,
 68939,
 1354,
 138569,
 202056,
 32069,
 95556,
 183519,
 175423,
 42302,
 36155,
 143510,
 113949,
 111900,
 103704,
 199093,
 142575,
 13548,
 68843,
 132330,
 72937,
 70888,
 27879,
 179409,
 85219,
 17634,
 23777,
 198479,
 44255,
 42206,
 46300,
 157309,
 62708,
 176891,
 189686,
 124182,
 52499,
 187665,
 185616,
 159205,
 140558,
 15629,
 13580,
 72200,
 5384,
 147383,
 95492,
 83202,
 173310,
 34042,
 203752,
 169304,
 131144,
 179613,
 204201,
 28071,
 97701,
 150947,
 17826,
 89505,
 21920,
 177564,
 171353,
 190549,
 34202,
 171417,
 157853,
 64917,
 62868,
 52627,
 66733,
 75182,
 11695,
 199399,
 13772,
 67018,
 204233,
 93639,
 91590,
 32197,
 71863,
 83394,
 155073,
 44479,
 42430,
 48573,
 112060,
 40377,
 118195,
 143797,
 122257,
 153840,
 180135,
 50546,
 187761,
 54640,
 81261,
 3435,
 7529,
 202088,
 32101,
 95588,
 19811,
 83298,
 177082,
 21856,
 44383,
 148960,
 52595,
 195957,
 72013,
 58742,
 181172,
 198026,
 138633,
 71048,
 28039,
 198525,
 85379,
 148866,
 155009,
 196145,
 48509,
 177532,
 167291,
 173988,
 196213,
 36059,
 171225,
 136748,
 179229,
 25638,
 31781,
 29732,
 150563,
 148514,
 23585,
 42014,
 80469,
 97349,
 99354,
 171033,
 197678,
 191511,
 58390,
 175008,
 52243,
 70696,
 7209,
 1066,
 3115,
 161098,
 176044,
 42046,
 90634,
 46140,
 99386,
 171065,
 180346,
 191543,
 130101,
 128052,
 50226,
 76847,
 74798,
 146477,
 187409,
 9230,
 3083,
 137147,
 91110,
 150499,
 154593,
 109535,
 162532,
 46044,
 35803,
 33754,
 103384,
 125911,
 200572,
 184182,
 181202,
 187345,
 74702,
 70632,
 68587,
 164603,
 15341,
 201736,
 186489,
 91142,
 97285,
 154625,
 41982,
 48125,
 46076,
 99322,
 125943,
 123894,
 202642,
 127988,
 115698,
 140270,
 29764,
 82528,
 146347,
 150560,
 203024,
 50354,
 76975,
 15533,
 199851,
 66730,
 5288,
 160932,
 7241,
 85155,
 144307,
 23713,
 173214,
 194966,
 179285,
 165018,
 193716,
 172164,
 60599,
 114724,
 126167,
 203191,
 62676,
 56529,
 185552,
 80830,
 132298,
 5320,
 156870,
 31941,
 95428,
 83138,
 89281,
 48317,
 171193,
 60567,
 184224,
 185488,
 205841,
 29796,
 150627,
 148578,
 154721,
 42078,
 48221,
 157140,
 164954,
 206200,
 195373,
 52307,
 56401,
 148306,
 68683,
 197706,
 201832,
 1130,
 170115,
 11375,
 68747,
 7305,
 201864,
 31877,
 95364,
 17538,
 21632,
 97299,
 35963,
 99450,
 191607,
 74358,
 193652,
 121969,
 112263,
 15821,
 50642,
 124855,
 147245,
 114463,
 169784,
 61239,
 124726,
 57137,
 55088,
 75566,
 69419,
 203241,
 132906,
 32549,
 30500,
 20259,
 18210,
 98262,
 70350,
 196418,
 94127,
 114493,
 42814,
 167771,
 34650,
 169816,
 192343,
 124758,
 57169,
 178325,
 12111,
 75598,
 200972,
 14156,
 73545,
 91974,
 145664,
 110399,
 163035,
 165658,
 40729,
 202472,
 24289,
 22240,
 44767,
 167643,
 104152,
 121806,
 128956,
 57041,
 120528,
 75470,
 147149,
 196327,
 69323,
 67274,
 7881,
 18146,
 7913,
 104875,
 69355,
 86832,
 65301,
 116498,
 3851,
 108973,
 73481,
 26374,
 30468,
 153344,
 48893,
 165626,
 104184,
 126711,
 129994,
 79596,
 180378,
 87904,
 93895,
 74265,
 122801,
 186288,
 133694,
 71592,
 28583,
 26534,
 163749,
 20387,
 24417,
 83874,
 155553,
 87968,
 42910,
 180125,
 47004,
 167835,
 116658,
 53171,
 65461,
 151081,
 143311,
 147405,
 133066,
 139209,
 94151,
 181452,
 73483,
 20419,
 142184,
 177138,
 42942,
 47036,
 106425,
 104376,
 61367,
 154692,
 196501,
 63380,
 100218,
 165424,
 182209,
 194110,
 158786,
 203470,
 55152,
 75630,
 121938,
 185416,
 69483,
 105478,
 90025,
 98149,
 30564,
 85859,
 104312,
 49021,
 182162,
 172947,
 94415,
 55184,
 75662,
 175563,
 79756,
 67466,
 204681,
 179735,
 28551,
 26502,
 97242,
 30596,
 89985,
 119303,
 110463,
 5832,
 26310,
 183763,
 24097,
 69163,
 67114,
 138793,
 5672,
 97829,
 95780,
 149026,
 141106,
 199902,
 108062,
 137217,
 40473,
 139726,
 58902,
 128532,
 183827,
 13868,
 205366,
 113827,
 122417,
 28231,
 26182,
 105746,
 24129,
 22080,
 110143,
 173630,
 48701,
 46652,
 99898,
 91072,
 130659,
 65077,
 63028,
 118323,
 121467,
 134905,
 77327,
 181746,
 94173,
 9710,
 79340,
 172728,
 32229,
 95716,
 175844,
 173534,
 48605,
 85621,
 101851,
 40409,
 169432,
 60887,
 124374,
 56817,
 118259,
 151178,
 65013,
 1546,
 7689,
 71176,
 157190,
 163333,
 30212,
 164696,
 74696,
 187826,
 175615,
 48637,
 46588,
 36347,
 165370,
 169464,
 71240,
 198218,
 124862,
 115490,
 151380,
 42654,
 48797,
 36507,
 99994,
 40601,
 104088,
 165956,
 69195,
 196245,
 52883,
 116370,
 9870,
 16013,
 71304,
 159367,
 197231,
 32421,
 26278,
 202408,
 20163,
 18114,
 89793,
 22208,
 42686,
 112316,
 163324,
 194300,
 130741,
 194228,
 52915,
 122545,
 145068,
 66817,
 138921,
 26246,
 32389,
 30340,
 18018,
 99114,
 108126,
 179805,
 46684,
 190935,
 106073,
 122644,
 130645,
 105639,
 171208,
 116306,
 56913,
 11855,
 66468,
 84566,
 22112,
 163429,
 85635,
 26214,
 83586,
 98546,
 46716,
 36475,
 106105,
 169592,
 61047,
 65141,
 52851,
 122481,
 54896,
 81517,
 199903,
 103390,
 136808,
 110376,
 78796,
 72649,
 71977,
 140189,
 188726,
 61748,
 196601,
 76079,
 143660,
 133419,
 90406,
 92519,
 160036,
 149795,
 192507,
 100635,
 170265,
 168216,
 63765,
 106814,
 163998,
 65866,
 2379,
 149859,
 196584,
 76190,
 151904,
 106846,
 191512,
 39257,
 179194,
 63829,
 192852,
 159186,
 10575,
 8526,
 14669,
 78156,
 127252,
 51475,
 49426,
 139502,
 131306,
 71913,
 69864,
 24806,
 137897,
 16610,
 88289,
 86240,
 122596,
 178397,
 110812,
 166107,
 39129,
 185937,
 57558,
 2283,
 196806,
 53520,
 180466,
 141583,
 8462,
 145677,
 12556,
 137481,
 66140,
 155910,
 18691,
 16642,
 149504,
 43263,
 90897,
 100603,
 168184,
 57590,
 161219,
 180209,
 116947,
 74158,
 194997,
 84875,
 182707,
 115122,
 186801,
 187385,
 76207,
 80301,
 6505,
 2475,
 131498,
 4520,
 179050,
 24998,
 134604,
 149923,
 57782,
 168376,
 100795,
 205789,
 55761,
 76679,
 10703,
 74190,
 78284,
 133579,
 6601,
 197361,
 158151,
 156102,
 31173,
 29124,
 195616,
 106942,
 178621,
 147874,
 88481,
 41374,
 96386,
 113021,
 33146,
 39289,
 37240,
 59767,
 57718,
 61812,
 131800,
 92460,
 128747,
 76143,
 80237,
 12652,
 2411,
 65898,
 172414,
 24966,
 47517,
 158087,
 95321,
 100763,
 37272,
 157674,
 188822,
 61844,
 180626,
 121233,
 184720,
 10639,
 8590,
 72088,
 197002,
 159919,
 201096,
 129237,
 111450,
 136136,
 20512,
 77868,
 2091,
 24614,
 161829,
 94244,
 122973,
 88097,
 172062,
 65610,
 47133,
 34843,
 173072,
 167960,
 188438,
 63509,
 192532,
 79917,
 136905,
 184368,
 186417,
 110880,
 94276,
 84035,
 88129,
 20544,
 177692,
 98942,
 190160,
 165947,
 104505,
 102456,
 164543,
 192564,
 51251,
 49202,
 51219,
 126123,
 118800,
 138902,
 65526,
 124917,
 143745,
 57330,
 14319,
 16366,
 143340,
 73706,
 161171,
 135144,
 161767,
 163814,
 92133,
 28644,
 194725,
 92878,
 106490,
 10255,
 38907,
 8206,
 145421,
 12300,
 127654,
 65546,
 69640,
 26631,
 155654,
 94212,
 18435,
 16386,
 153601,
 113273,
 153628,
 174077,
 157691,
 181414,
 10447,
 190615,
 108703,
 106654,
 130339,
 45212,
 34971,
 104601,
 102552,
 129321,
 143436,
 120977,
 139406,
 14477,
 77964,
 67723,
 135304,
 155782,
 137205,
 155814,
 67271,
 172570,
 8398,
 184146,
 12492,
 71881,
 4296,
 149699,
 172222,
 142701,
 100539,
 188598,
 129205,
 61620,
 55473,
 184496,
 141503,
 96389,
 159876,
 131984,
 24678,
 94308,
 187557,
 88161,
 131919,
 126292,
 45148,
 102488,
 178539,
 61524,
 116819,
 49234,
 173598,
 75855,
 8270,
 79949,
 96357,
 4200,
 16514,
 137321,
 43135,
 76477,
 177452,
 175966,
 36984,
 59511,
 188534,
 98892,
 61556,
 74428,
 55409,
 138597,
 179249,
 67691,
 106,
 180690,
 165303,
 57814,
 25382,
 49970,
 56113,
 185136,
 74542,
 133931,
 203561,
 70440,
 97061,
 54096,
 150307,
 17186,
 86816,
 43807,
 108691,
 45852,
 166683,
 58166,
 125751,
 168760,
 105273,
 168225,
 67389,
 165002,
 66378,
 4936,
 156486,
 170272,
 19267,
 23361,
 152384,
 43839,
 41790,
 113469,
 35643,
 33594,
 147685,
 125719,
 189206,
 146157,
 131818,
 137961,
 135912,
 92903,
 134299,
 96997,
 94948,
 82658,
 154337,
 41694,
 47837,
 87027,
 105177,
 37592,
 125655,
 13036,
 183813,
 62228,
 10991,
 197200,
 54032,
 11023,
 8974,
 142495,
 156422,
 160516,
 21248,
 109311,
 35579,
 195079,
 60151,
 195317,
 62196,
 56049,
 103394,
 ...]

## Follow Along

### How can we get a subset of data, just for these customers?

We want *all* the orders from customers who have *ever* bought bananas.

(And *none* of the orders from customers who have *never* bought bananas.)

### What features can we engineer? We want to predict, will these customers reorder bananas on their next order?

## Challenge

**Continue to clean and explore your data.** Can you **engineer features** to help predict your target? For the evaluation metric you chose, what score would you get just by guessing? Can you **make a fast, first model** that beats guessing?

We recommend that you use your portfolio project dataset for all assignments this sprint. But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset today. Follow the instructions in the assignment notebook. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!