Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

Your code starts here:

In [1]:
#this is some free form exploration.  Just trying to figure out whats going on here and poke 
#around some before I get to my actual strategy.

import pandas as pd

#the dots represent how many folders up we have to go before looking for the file
folder = '../../DS-Unit-2-Build/bosch-production-line-performance/'

#we are going to read in chunks of 1k for right now to keep from overloading my ram
cat_iter = pd.read_csv(folder + 'train_categorical.csv', iterator = True, chunksize = 1000)

num_iter = pd.read_csv(folder + 'train_numeric.csv', iterator = True, chunksize = 1000)

date_iter = pd.read_csv(folder + 'train_date.csv', iterator = True, chunksize = 1000)

In [2]:
#This warning has to do with how pandas reads categorical data.  Basically pandas wants me
#to read the whole file and infer the data type from there.  Or I can pass in the datatype.
#But since I haven't fully explored yet we'll just note this warning for what its and move
#on
cat = cat_iter.get_chunk()

/home/felix/anaconda3/envs/anaconda_env/lib/python3.8/site-packages/IPython/core/async_helpers.py:68: DtypeWarning: Columns (96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,335,407,410,413,416,419,422,425,428,431,434,437,440,443,446,449,452,455,458,461,464,467,470,473,476,479,482,485,488,491,494,497,500,503,506,509,512,515,518,611,614,617,620,623,626,629,632,635,638,641,644,647,650,653,656,659,662,665,668,671,674,677,680,683,686,689,692,695,698,701,704,707,710,713,716,719,722,1005,1007,1008,1010,1011,1013,1014,1016,1017,1019,1020,1022,1023,1025,1026,1028,1029,1031,1032,1034,1035,1037,1038,1040,1041,1043,1044,1046,1047,1049,1050,1052,1126,1129,1132,1135,1138,1141,1144,1147,1183,1185,1188,1191,1194,1197,1200,1203,1206,1209,1212,1215,1218,1221,1224,1227,1230,1233,1236,1239,1242,1245,1248,1251,1254,1257,1260,1263,1266,1269,1272,1275,1278,1288,1298,1300,1303,1306,1309,1312,1315,1318,1321,1324,1327,1330,1333,1336,1339,1342,1345,1348,1351,1354,1357,1360,1363,1366,1369,1372,1375,1378,1381,1384,1387,1390,1393,1419,1431,1434,1437,1440,1443,1446,1449,1452,1455,1458,1461,1464,1467,1470,1473,1476,1527,1530,1533,1536,1539,1542,1545,1548,1657,1659,1661,1663,1665,1667,1669,1671,1673,1675,1677,1679,1681,1683,1685,1687,1689,1691,1693,1694,1696,1698,1700,1702,1704,1706,1708,2052,2054,2055,2057,2058,2060,2061,2063,2064,2066,2067,2069,2070,2072,2073,2075,2076,2077,2078,2079,2080,2081,2082,2083) have mixed types.Specify dtype option on import or set low_memory=False.
  coro.send(None)

In [3]:
#eh not super useful
cat.describe()

,Id,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S2_F37,L0_S2_F39,L0_S2_F41,...,L3_S49_F4225,L3_S49_F4227,L3_S49_F4229,L3_S49_F4230,L3_S49_F4232,L3_S49_F4234,L3_S49_F4235,L3_S49_F4237,L3_S49_F4239,L3_S49_F4240
count,1000.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,998.613000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,586.907348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,491.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,973.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1511.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2055.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Okay baseline what our chunk size is
cat.shape

(1000, 2141)

In [5]:
#okay checking to see if there are any values in this chunk.  There definitely are
cat.drop(columns = 'Id').notna().sum().value_counts()

0      1524
1       156
693      60
5        45
3        40
161      27
86       27
15       25
9        21
12       21
6        20
49       19
45       19
13       19
8        18
14       17
21       16
2        16
25       13
94       12
39       11
4         8
669       3
34        1
35        1
93        1
dtype: int64

In [6]:
#Lets try a drop na on only rows that are all nans. and see what we end up losing.
cat.drop(columns = 'Id').dropna(how = 'all').shape

(802, 2140)

In [7]:
#Okay so there are definitely values in there, I just have visibility problem.  I'm always
#going to have a hard time inspecting them because the dataset is so wide.
#I wonder if PCA may come in hand?  I should explore that as one of my models, see if I can
#get some Insight from it.

## Explore and Clean strategy
Okay after taking that quick look above, I know that just chunking in information isn't going to be as useful as I want it to be.  Essentially I'm chunking in huge, mostly empty dataframes.  So I think I will run my numerical and categorical data through two different models, and use a stacking/voting techinque.  So basically if a uniqe part had no categorical data, then my categorical model will not have a vote so to speak.
### Step 1 verify id
I need to verify that in each data set, that a unique part ID is never duplicated.  I'd assume not, but I can read in that column and find out.
### Step 2 Inspect
Check the resulting data frame, and get an idea of what is actually in there.
### Step 3 Throw out nans
Get rid of rows with all nans.  For right now I don't care about those
### Step 4 Impute
I can't just leave those nans in there.  So I'm going to try some imputing.
### Step 5 basic model
I just want to get a simple mvp model to try.

### Step 1

In [8]:
#step 1
check_id = pd.read_csv(folder + 'train_numeric.csv', usecols = ['Id'], squeeze = True)
print(check_id.shape)

(1183747,)

In [9]:
check_id.duplicated().sum()

0

In [10]:
#okay definitely unique.  Lets verify we have the same IDs in the categorical and the date
#data sets
cat_id = pd.read_csv(folder + 'train_categorical.csv', usecols = ['Id'], squeeze = True)
print(cat_id.shape)

(1183747,)

In [11]:
#same shape, that is a good sign
cat_id.duplicated().sum()

0

In [12]:
#if we have exactly 1:1 IDs in the data sets then this should equal the size of our id shape
pd.concat([check_id, cat_id]).duplicated().sum()

1183747

### Step 2

In [13]:
#okay lets just knock out a quick mvp, and then we can think about how to make this reproducable
#for the full datasets.  I'm going to work with train_numeric right now, because it has our
#target in it, so I don't have to load in a bunch of data sets.

num_iter = pd.read_csv(folder + 'train_numeric.csv', iterator = True, chunksize = 1000)

num = num_iter.get_chunk()
print(num.shape)
num.describe()

(1000, 970)

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
count,1000.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,...,24.000000,24.0,24.0,24.0,24.000000,39.000000,39.0,39.000000,39.0,1000.000000
mean,998.613000,-0.001823,-0.002838,0.009395,0.009162,-0.000037,0.003355,0.000878,0.006267,0.000722,...,-0.000042,0.0,0.0,0.0,0.020833,-0.000026,0.0,0.000462,0.0,0.004000
std,586.907348,0.079192,0.093521,0.214535,0.214192,0.094356,0.163048,0.019698,0.105601,0.119745,...,0.000204,0.0,0.0,0.0,0.254489,0.000160,0.0,0.002882,0.0,0.063151
min,4.000000,-0.251000,-0.258000,-0.397000,-0.397000,-0.317000,-0.566000,-0.044000,-0.232000,-0.327000,...,-0.001000,0.0,0.0,0.0,-0.250000,-0.001000,0.0,0.000000,0.0,0.000000
25%,491.750000,-0.049000,-0.056000,-0.179000,-0.179000,-0.056000,-0.066000,-0.015000,-0.072000,-0.082000,...,0.000000,0.0,0.0,0.0,-0.250000,0.000000,0.0,0.000000,0.0,0.000000
50%,973.500000,0.003000,0.004000,-0.024000,-0.034000,0.031000,0.070000,0.000000,0.008000,0.000000,...,0.000000,0.0,0.0,0.0,0.250000,0.000000,0.0,0.000000,0.0,0.000000
75%,1511.500000,0.056000,0.063000,0.294000,0.294000,0.074000,0.116000,0.015000,0.088000,0.081000,...,0.000000,0.0,0.0,0.0,0.250000,0.000000,0.0,0.000000,0.0,0.000000
max,2055.000000,0.252000,0.250000,0.530000,0.548000,0.248000,0.206000,0.052000,0.328000,0.347000,...,0.000000,0.0,0.0,0.0,0.250000,0.000000,0.0,0.018000,0.0,1.000000

In [14]:
#okay good this is looking like it has little more info available.
num.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

### Step 3

In [15]:
num.drop(columns = ['Id', 'Response']).dropna(how = 'all').shape

(999, 968)

In [16]:
#eeeeeeehhhhhh that is literally only one line of the data I chunked in.  Okay, lesson learned
#Though the categorical data set might be missing quite a few rows, this numerical dataset seems
#to be pretty intact. Ultimately, I'm going to skip this step and knock out a baseline

### step 3.5
Create a baseline with a dummy.

In [17]:
target = 'Response'
X = num.drop(columns = ['Id', target])
y = num['Response']

In [18]:
print(X.shape, y.shape)
X.head()

(1000, 968) (1000,)

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S50_F4243,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262
0,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,0.083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,-0.147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,-0.046,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,-0.099,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
y.value_counts()

0    996
1      4
Name: Response, dtype: int64

In [20]:
from sklearn.dummy import DummyClassifier
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score

#since we decided to go with a guessing basline, uniform gives us a random guess
baseline = DummyClassifier(strategy = 'uniform')

baseline.fit(X, y)

y_pred = baseline.predict(X)

#we are using precision as our metric, but I'm curious about accuracy as well
print('The precision of a random guess baseline is: ', precision_score(y, y_pred))
print('The accuracy of a random guess baseline is: ', accuracy_score(y, y_pred))

The precision of a random guess baseline is:  0.001996007984031936
The accuracy of a random guess baseline is:  0.497

In [21]:
#Holy smokes a random guess has a crazy low precision.  Good to know the bar is so low.
#lets go ahead and pull in another chunk for testing.  Might be a bit aggresive for
#a test set right now, but it is pretty easy.
X_test = num_iter.get_chunk()
y_test = X_test[target]
X_test = X_test.drop(columns = ['Id', target])
X_test.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S50_F4243,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,-0.134,-0.175,0.294,0.294,-0.013,-0.021,0.045,0.288,0.076,-0.056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,-0.062,-0.056,-0.033,-0.052,-0.056,0.116,0.008,0.048,0.056,-0.014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.05,0.0,0.0,0.0,0.0,-0.25,0.0,0.0,0.0,0.0
1004,0.003,0.004,-0.197,-0.179,-0.100,-0.021,-0.015,-0.072,0.112,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 4 + Step 5

In [22]:
#lets do a quick one with cross validation, but no hyperparameter tweaking regression classifier
#with so much missing data, median might be a better choice than mean for imputing
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(
    SimpleImputer(strategy = 'median'),
    LogisticRegression(random_state = 42)
)

In [23]:
#lets do a quick cross validation and see how this goes
results = cross_validate(
    pipeline,
    X,
    y,
    scoring = ['precision', 'accuracy'],
    cv = 4,
    n_jobs = -1,
    verbose = 10
)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done   2 out of   4 | elapsed:    0.5s remaining:    0.5s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.5s finished

In [24]:
#I must have some leakage going on.  That accuracy is way too high, and likely the reason I have
#0 precision.
results

{'fit_time': array([0.0544219 , 0.05567145, 0.05130172, 0.05298495]),
 'score_time': array([0.00644112, 0.00585341, 0.00514531, 0.00513816]),
 'test_precision': array([0., 0., 0., 0.]),
 'test_accuracy': array([0.996, 0.996, 0.996, 0.996])}

In [25]:
#I want to follow this through though and see how this all tests out so

pipeline.fit(X, y)

y_pred = pipeline.predict(X_test)

print('My models precision is: ', precision_score(y_test, y_pred))
print('My models accuracy is: ', accuracy_score(y_test, y_pred))

My models precision is:  0.0
My models accuracy is:  0.997

/home/felix/anaconda3/envs/anaconda_env/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Leakage
If I were over fitting, I'd expect my test set to evaluate low.  But I'm getting crazy high accuracy on my test set.  So I must be leaking somewhere.  This will be a bugger to track down.

In [26]:
#first lets take a look at those column names.  Maybe I missed something.
print(X.columns)

Index(['L0_S0_F0', 'L0_S0_F2', 'L0_S0_F4', 'L0_S0_F6', 'L0_S0_F8', 'L0_S0_F10',
       'L0_S0_F12', 'L0_S0_F14', 'L0_S0_F16', 'L0_S0_F18',
       ...
       'L3_S50_F4243', 'L3_S50_F4245', 'L3_S50_F4247', 'L3_S50_F4249',
       'L3_S50_F4251', 'L3_S50_F4253', 'L3_S51_F4256', 'L3_S51_F4258',
       'L3_S51_F4260', 'L3_S51_F4262'],
      dtype='object', length=968)

In [27]:
for col in X.columns:
    print(col, end = ' ')

L0_S0_F0 L0_S0_F2 L0_S0_F4 L0_S0_F6 L0_S0_F8 L0_S0_F10 L0_S0_F12 L0_S0_F14 L0_S0_F16 L0_S0_F18 L0_S0_F20 L0_S0_F22 L0_S1_F24 L0_S1_F28 L0_S2_F32 L0_S2_F36 L0_S2_F40 L0_S2_F44 L0_S2_F48 L0_S2_F52 L0_S2_F56 L0_S2_F60 L0_S2_F64 L0_S3_F68 L0_S3_F72 L0_S3_F76 L0_S3_F80 L0_S3_F84 L0_S3_F88 L0_S3_F92 L0_S3_F96 L0_S3_F100 L0_S4_F104 L0_S4_F109 L0_S5_F114 L0_S5_F116 L0_S6_F118 L0_S6_F122 L0_S6_F132 L0_S7_F136 L0_S7_F138 L0_S7_F142 L0_S8_F144 L0_S8_F146 L0_S8_F149 L0_S9_F155 L0_S9_F160 L0_S9_F165 L0_S9_F170 L0_S9_F175 L0_S9_F180 L0_S9_F185 L0_S9_F190 L0_S9_F195 L0_S9_F200 L0_S9_F205 L0_S9_F210 L0_S10_F219 L0_S10_F224 L0_S10_F229 L0_S10_F234 L0_S10_F239 L0_S10_F244 L0_S10_F249 L0_S10_F254 L0_S10_F259 L0_S10_F264 L0_S10_F269 L0_S10_F274 L0_S11_F282 L0_S11_F286 L0_S11_F290 L0_S11_F294 L0_S11_F298 L0_S11_F302 L0_S11_F306 L0_S11_F310 L0_S11_F314 L0_S11_F318 L0_S11_F322 L0_S11_F326 L0_S12_F330 L0_S12_F332 L0_S12_F334 L0_S12_F336 L0_S12_F338 L0_S12_F340 L0_S12_F342 L0_S12_F344 L0_S12_F346 L0_S12_F348 L0_S12_F350 L0_S12_F352 L0_S13_F354 L0_S13_F356 L0_S14_F358 L0_S14_F362 L0_S14_F366 L0_S14_F370 L0_S14_F374 L0_S14_F378 L0_S14_F382 L0_S14_F386 L0_S14_F390 L0_S15_F394 L0_S15_F397 L0_S15_F400 L0_S15_F403 L0_S15_F406 L0_S15_F409 L0_S15_F412 L0_S15_F415 L0_S15_F418 L0_S16_F421 L0_S16_F426 L0_S17_F431 L0_S17_F433 L0_S18_F435 L0_S18_F439 L0_S18_F449 L0_S19_F453 L0_S19_F455 L0_S19_F459 L0_S20_F461 L0_S20_F463 L0_S20_F466 L0_S21_F472 L0_S21_F477 L0_S21_F482 L0_S21_F487 L0_S21_F492 L0_S21_F497 L0_S21_F502 L0_S21_F507 L0_S21_F512 L0_S21_F517 L0_S21_F522 L0_S21_F527 L0_S21_F532 L0_S21_F537 L0_S22_F546 L0_S22_F551 L0_S22_F556 L0_S22_F561 L0_S22_F566 L0_S22_F571 L0_S22_F576 L0_S22_F581 L0_S22_F586 L0_S22_F591 L0_S22_F596 L0_S22_F601 L0_S22_F606 L0_S22_F611 L0_S23_F619 L0_S23_F623 L0_S23_F627 L0_S23_F631 L0_S23_F635 L0_S23_F639 L0_S23_F643 L0_S23_F647 L0_S23_F651 L0_S23_F655 L0_S23_F659 L0_S23_F663 L0_S23_F667 L0_S23_F671 L1_S24_F679 L1_S24_F683 L1_S24_F687 L1_S24_F691 L1_S24_F700 L1_S24_F719 L1_S24_F728 L1_S24_F733 L1_S24_F746 L1_S24_F751 L1_S24_F756 L1_S24_F761 L1_S24_F766 L1_S24_F775 L1_S24_F780 L1_S24_F785 L1_S24_F790 L1_S24_F795 L1_S24_F800 L1_S24_F802 L1_S24_F806 L1_S24_F808 L1_S24_F810 L1_S24_F812 L1_S24_F814 L1_S24_F816 L1_S24_F829 L1_S24_F834 L1_S24_F839 L1_S24_F844 L1_S24_F857 L1_S24_F862 L1_S24_F867 L1_S24_F872 L1_S24_F877 L1_S24_F882 L1_S24_F887 L1_S24_F892 L1_S24_F897 L1_S24_F902 L1_S24_F907 L1_S24_F920 L1_S24_F925 L1_S24_F930 L1_S24_F935 L1_S24_F948 L1_S24_F953 L1_S24_F958 L1_S24_F963 L1_S24_F968 L1_S24_F973 L1_S24_F978 L1_S24_F983 L1_S24_F988 L1_S24_F993 L1_S24_F998 L1_S24_F1000 L1_S24_F1002 L1_S24_F1004 L1_S24_F1006 L1_S24_F1008 L1_S24_F1010 L1_S24_F1012 L1_S24_F1014 L1_S24_F1016 L1_S24_F1021 L1_S24_F1026 L1_S24_F1031 L1_S24_F1036 L1_S24_F1041 L1_S24_F1046 L1_S24_F1051 L1_S24_F1056 L1_S24_F1068 L1_S24_F1072 L1_S24_F1079 L1_S24_F1083 L1_S24_F1087 L1_S24_F1094 L1_S24_F1098 L1_S24_F1102 L1_S24_F1106 L1_S24_F1110 L1_S24_F1118 L1_S24_F1122 L1_S24_F1126 L1_S24_F1130 L1_S24_F1134 L1_S24_F1145 L1_S24_F1148 L1_S24_F1161 L1_S24_F1166 L1_S24_F1170 L1_S24_F1172 L1_S24_F1174 L1_S24_F1176 L1_S24_F1180 L1_S24_F1184 L1_S24_F1197 L1_S24_F1202 L1_S24_F1207 L1_S24_F1212 L1_S24_F1225 L1_S24_F1230 L1_S24_F1235 L1_S24_F1240 L1_S24_F1245 L1_S24_F1250 L1_S24_F1255 L1_S24_F1260 L1_S24_F1265 L1_S24_F1270 L1_S24_F1275 L1_S24_F1288 L1_S24_F1293 L1_S24_F1298 L1_S24_F1303 L1_S24_F1316 L1_S24_F1321 L1_S24_F1326 L1_S24_F1331 L1_S24_F1336 L1_S24_F1341 L1_S24_F1346 L1_S24_F1351 L1_S24_F1356 L1_S24_F1361 L1_S24_F1366 L1_S24_F1371 L1_S24_F1376 L1_S24_F1381 L1_S24_F1386 L1_S24_F1391 L1_S24_F1396 L1_S24_F1401 L1_S24_F1406 L1_S24_F1411 L1_S24_F1416 L1_S24_F1421 L1_S24_F1426 L1_S24_F1431 L1_S24_F1436 L1_S24_F1441 L1_S24_F1446 L1_S24_F1451 L1_S24_F1463 L1_S24_F1467 L1_S24_F1474 L1_S24_F1478 L1_S24_F1482 L1_S24_F1486 L1_S24_F1490 L1_S24_F1494 L1_S24_F1498 L1_S24_F1502 L1_S24_F1506 L1_S24_F1512 L1_S24_F1514 L1_S24_F1516 L1_S24_F1518 L1_S24_F1520 L1_S24_F1539 L1_S24_F1544 L1_S24_F1565 L1_S24_F1567 L1_S24_F1569 L1_S24_F1571 L1_S24_F1573 L1_S24_F1575 L1_S24_F1578 L1_S24_F1581 L1_S24_F1594 L1_S24_F1599 L1_S24_F1604 L1_S24_F1609 L1_S24_F1622 L1_S24_F1627 L1_S24_F1632 L1_S24_F1637 L1_S24_F1642 L1_S24_F1647 L1_S24_F1652 L1_S24_F1657 L1_S24_F1662 L1_S24_F1667 L1_S24_F1672 L1_S24_F1685 L1_S24_F1690 L1_S24_F1695 L1_S24_F1700 L1_S24_F1713 L1_S24_F1718 L1_S24_F1723 L1_S24_F1728 L1_S24_F1733 L1_S24_F1738 L1_S24_F1743 L1_S24_F1748 L1_S24_F1753 L1_S24_F1758 L1_S24_F1763 L1_S24_F1768 L1_S24_F1773 L1_S24_F1778 L1_S24_F1783 L1_S24_F1788 L1_S24_F1793 L1_S24_F1798 L1_S24_F1803 L1_S24_F1808 L1_S24_F1810 L1_S24_F1812 L1_S24_F1814 L1_S24_F1816 L1_S24_F1818 L1_S24_F1820 L1_S24_F1822 L1_S24_F1824 L1_S24_F1829 L1_S24_F1831 L1_S24_F1834 L1_S24_F1836 L1_S24_F1838 L1_S24_F1840 L1_S24_F1842 L1_S24_F1844 L1_S24_F1846 L1_S24_F1848 L1_S24_F1850 L1_S25_F1855 L1_S25_F1858 L1_S25_F1865 L1_S25_F1869 L1_S25_F1873 L1_S25_F1877 L1_S25_F1881 L1_S25_F1885 L1_S25_F1890 L1_S25_F1892 L1_S25_F1894 L1_S25_F1896 L1_S25_F1900 L1_S25_F1909 L1_S25_F1914 L1_S25_F1919 L1_S25_F1924 L1_S25_F1929 L1_S25_F1938 L1_S25_F1943 L1_S25_F1948 L1_S25_F1953 L1_S25_F1958 L1_S25_F1963 L1_S25_F1968 L1_S25_F1973 L1_S25_F1978 L1_S25_F1987 L1_S25_F1992 L1_S25_F1997 L1_S25_F2002 L1_S25_F2007 L1_S25_F2016 L1_S25_F2021 L1_S25_F2026 L1_S25_F2031 L1_S25_F2036 L1_S25_F2041 L1_S25_F2046 L1_S25_F2051 L1_S25_F2056 L1_S25_F2061 L1_S25_F2066 L1_S25_F2071 L1_S25_F2076 L1_S25_F2081 L1_S25_F2086 L1_S25_F2091 L1_S25_F2096 L1_S25_F2101 L1_S25_F2106 L1_S25_F2111 L1_S25_F2116 L1_S25_F2121 L1_S25_F2126 L1_S25_F2131 L1_S25_F2136 L1_S25_F2144 L1_S25_F2147 L1_S25_F2152 L1_S25_F2155 L1_S25_F2158 L1_S25_F2161 L1_S25_F2164 L1_S25_F2167 L1_S25_F2170 L1_S25_F2173 L1_S25_F2176 L1_S25_F2181 L1_S25_F2184 L1_S25_F2187 L1_S25_F2190 L1_S25_F2193 L1_S25_F2196 L1_S25_F2199 L1_S25_F2202 L1_S25_F2207 L1_S25_F2210 L1_S25_F2217 L1_S25_F2220 L1_S25_F2223 L1_S25_F2226 L1_S25_F2231 L1_S25_F2233 L1_S25_F2237 L1_S25_F2239 L1_S25_F2241 L1_S25_F2243 L1_S25_F2245 L1_S25_F2247 L1_S25_F2249 L1_S25_F2258 L1_S25_F2263 L1_S25_F2268 L1_S25_F2273 L1_S25_F2278 L1_S25_F2287 L1_S25_F2292 L1_S25_F2297 L1_S25_F2302 L1_S25_F2307 L1_S25_F2312 L1_S25_F2317 L1_S25_F2322 L1_S25_F2327 L1_S25_F2336 L1_S25_F2341 L1_S25_F2346 L1_S25_F2351 L1_S25_F2356 L1_S25_F2365 L1_S25_F2370 L1_S25_F2375 L1_S25_F2380 L1_S25_F2385 L1_S25_F2390 L1_S25_F2395 L1_S25_F2400 L1_S25_F2405 L1_S25_F2408 L1_S25_F2411 L1_S25_F2414 L1_S25_F2417 L1_S25_F2420 L1_S25_F2423 L1_S25_F2426 L1_S25_F2429 L1_S25_F2431 L1_S25_F2433 L1_S25_F2435 L1_S25_F2437 L1_S25_F2439 L1_S25_F2441 L1_S25_F2443 L1_S25_F2449 L1_S25_F2451 L1_S25_F2454 L1_S25_F2456 L1_S25_F2458 L1_S25_F2460 L1_S25_F2462 L1_S25_F2464 L1_S25_F2466 L1_S25_F2468 L1_S25_F2472 L1_S25_F2475 L1_S25_F2478 L1_S25_F2481 L1_S25_F2484 L1_S25_F2487 L1_S25_F2490 L1_S25_F2493 L1_S25_F2498 L1_S25_F2500 L1_S25_F2504 L1_S25_F2506 L1_S25_F2508 L1_S25_F2510 L1_S25_F2512 L1_S25_F2514 L1_S25_F2516 L1_S25_F2525 L1_S25_F2530 L1_S25_F2535 L1_S25_F2540 L1_S25_F2545 L1_S25_F2554 L1_S25_F2559 L1_S25_F2564 L1_S25_F2569 L1_S25_F2574 L1_S25_F2579 L1_S25_F2584 L1_S25_F2589 L1_S25_F2594 L1_S25_F2603 L1_S25_F2608 L1_S25_F2613 L1_S25_F2618 L1_S25_F2623 L1_S25_F2632 L1_S25_F2637 L1_S25_F2642 L1_S25_F2647 L1_S25_F2652 L1_S25_F2657 L1_S25_F2662 L1_S25_F2667 L1_S25_F2672 L1_S25_F2677 L1_S25_F2682 L1_S25_F2687 L1_S25_F2692 L1_S25_F2697 L1_S25_F2702 L1_S25_F2707 L1_S25_F2712 L1_S25_F2714 L1_S25_F2716 L1_S25_F2718 L1_S25_F2720 L1_S25_F2722 L1_S25_F2724 L1_S25_F2726 L1_S25_F2732 L1_S25_F2734 L1_S25_F2737 L1_S25_F2739 L1_S25_F2741 L1_S25_F2743 L1_S25_F2745 L1_S25_F2747 L1_S25_F2749 L1_S25_F2751 L1_S25_F2755 L1_S25_F2758 L1_S25_F2761 L1_S25_F2764 L1_S25_F2767 L1_S25_F2770 L1_S25_F2773 L1_S25_F2776 L1_S25_F2781 L1_S25_F2783 L1_S25_F2787 L1_S25_F2789 L1_S25_F2791 L1_S25_F2793 L1_S25_F2795 L1_S25_F2797 L1_S25_F2799 L1_S25_F2808 L1_S25_F2813 L1_S25_F2818 L1_S25_F2823 L1_S25_F2828 L1_S25_F2837 L1_S25_F2842 L1_S25_F2847 L1_S25_F2852 L1_S25_F2857 L1_S25_F2862 L1_S25_F2867 L1_S25_F2872 L1_S25_F2877 L1_S25_F2886 L1_S25_F2891 L1_S25_F2896 L1_S25_F2901 L1_S25_F2906 L1_S25_F2915 L1_S25_F2920 L1_S25_F2925 L1_S25_F2930 L1_S25_F2935 L1_S25_F2940 L1_S25_F2945 L1_S25_F2950 L1_S25_F2955 L1_S25_F2960 L1_S25_F2965 L1_S25_F2970 L1_S25_F2975 L1_S25_F2980 L1_S25_F2985 L1_S25_F2990 L1_S25_F2995 L1_S25_F2997 L1_S25_F2999 L1_S25_F3001 L1_S25_F3003 L1_S25_F3005 L1_S25_F3007 L1_S25_F3009 L1_S25_F3015 L1_S25_F3017 L1_S25_F3020 L1_S25_F3022 L1_S25_F3024 L1_S25_F3026 L1_S25_F3028 L1_S25_F3030 L1_S25_F3032 L1_S25_F3034 L2_S26_F3036 L2_S26_F3040 L2_S26_F3047 L2_S26_F3051 L2_S26_F3055 L2_S26_F3062 L2_S26_F3069 L2_S26_F3073 L2_S26_F3077 L2_S26_F3106 L2_S26_F3113 L2_S26_F3117 L2_S26_F3121 L2_S26_F3125 L2_S27_F3129 L2_S27_F3133 L2_S27_F3140 L2_S27_F3144 L2_S27_F3148 L2_S27_F3155 L2_S27_F3162 L2_S27_F3166 L2_S27_F3170 L2_S27_F3199 L2_S27_F3206 L2_S27_F3210 L2_S27_F3214 L2_S27_F3218 L2_S28_F3222 L2_S28_F3226 L2_S28_F3233 L2_S28_F3237 L2_S28_F3241 L2_S28_F3248 L2_S28_F3255 L2_S28_F3259 L2_S28_F3263 L2_S28_F3292 L2_S28_F3299 L2_S28_F3303 L2_S28_F3307 L2_S28_F3311 L3_S29_F3315 L3_S29_F3318 L3_S29_F3321 L3_S29_F3324 L3_S29_F3327 L3_S29_F3330 L3_S29_F3333 L3_S29_F3336 L3_S29_F3339 L3_S29_F3342 L3_S29_F3345 L3_S29_F3348 L3_S29_F3351 L3_S29_F3354 L3_S29_F3357 L3_S29_F3360 L3_S29_F3367 L3_S29_F3370 L3_S29_F3373 L3_S29_F3376 L3_S29_F3379 L3_S29_F3382 L3_S29_F3385 L3_S29_F3388 L3_S29_F3395 L3_S29_F3398 L3_S29_F3401 L3_S29_F3404 L3_S29_F3407 L3_S29_F3412 L3_S29_F3421 L3_S29_F3424 L3_S29_F3427 L3_S29_F3430 L3_S29_F3433 L3_S29_F3436 L3_S29_F3439 L3_S29_F3442 L3_S29_F3449 L3_S29_F3452 L3_S29_F3455 L3_S29_F3458 L3_S29_F3461 L3_S29_F3464 L3_S29_F3467 L3_S29_F3470 L3_S29_F3473 L3_S29_F3476 L3_S29_F3479 L3_S29_F3482 L3_S29_F3485 L3_S29_F3488 L3_S29_F3491 L3_S30_F3494 L3_S30_F3499 L3_S30_F3504 L3_S30_F3509 L3_S30_F3514 L3_S30_F3519 L3_S30_F3524 L3_S30_F3529 L3_S30_F3534 L3_S30_F3539 L3_S30_F3544 L3_S30_F3549 L3_S30_F3554 L3_S30_F3559 L3_S30_F3564 L3_S30_F3569 L3_S30_F3574 L3_S30_F3579 L3_S30_F3584 L3_S30_F3589 L3_S30_F3594 L3_S30_F3599 L3_S30_F3604 L3_S30_F3609 L3_S30_F3614 L3_S30_F3619 L3_S30_F3624 L3_S30_F3629 L3_S30_F3634 L3_S30_F3639 L3_S30_F3644 L3_S30_F3649 L3_S30_F3654 L3_S30_F3659 L3_S30_F3664 L3_S30_F3669 L3_S30_F3674 L3_S30_F3679 L3_S30_F3684 L3_S30_F3689 L3_S30_F3694 L3_S30_F3699 L3_S30_F3704 L3_S30_F3709 L3_S30_F3714 L3_S30_F3719 L3_S30_F3724 L3_S30_F3729 L3_S30_F3734 L3_S30_F3739 L3_S30_F3744 L3_S30_F3749 L3_S30_F3754 L3_S30_F3759 L3_S30_F3764 L3_S30_F3769 L3_S30_F3774 L3_S30_F3779 L3_S30_F3784 L3_S30_F3789 L3_S30_F3794 L3_S30_F3799 L3_S30_F3804 L3_S30_F3809 L3_S30_F3814 L3_S30_F3819 L3_S30_F3824 L3_S30_F3829 L3_S31_F3834 L3_S31_F3838 L3_S31_F3842 L3_S31_F3846 L3_S32_F3850 L3_S33_F3855 L3_S33_F3857 L3_S33_F3859 L3_S33_F3861 L3_S33_F3863 L3_S33_F3865 L3_S33_F3867 L3_S33_F3869 L3_S33_F3871 L3_S33_F3873 L3_S34_F3876 L3_S34_F3878 L3_S34_F3880 L3_S34_F3882 L3_S35_F3884 L3_S35_F3889 L3_S35_F3894 L3_S35_F3896 L3_S35_F3898 L3_S35_F3903 L3_S35_F3908 L3_S35_F3913 L3_S36_F3918 L3_S36_F3920 L3_S36_F3922 L3_S36_F3924 L3_S36_F3926 L3_S36_F3930 L3_S36_F3934 L3_S36_F3938 L3_S37_F3944 L3_S37_F3946 L3_S37_F3948 L3_S37_F3950 L3_S38_F3952 L3_S38_F3956 L3_S38_F3960 L3_S39_F3964 L3_S39_F3968 L3_S39_F3972 L3_S39_F3976 L3_S40_F3980 L3_S40_F3982 L3_S40_F3984 L3_S40_F3986 L3_S40_F3988 L3_S40_F3990 L3_S40_F3992 L3_S40_F3994 L3_S41_F3996 L3_S41_F3998 L3_S41_F4000 L3_S41_F4002 L3_S41_F4004 L3_S41_F4006 L3_S41_F4008 L3_S41_F4011 L3_S41_F4014 L3_S41_F4016 L3_S41_F4018 L3_S41_F4020 L3_S41_F4023 L3_S41_F4026 L3_S43_F4060 L3_S43_F4065 L3_S43_F4070 L3_S43_F4075 L3_S43_F4080 L3_S43_F4085 L3_S43_F4090 L3_S43_F4095 L3_S44_F4100 L3_S44_F4103 L3_S44_F4106 L3_S44_F4109 L3_S44_F4112 L3_S44_F4115 L3_S44_F4118 L3_S44_F4121 L3_S45_F4124 L3_S45_F4126 L3_S45_F4128 L3_S45_F4130 L3_S45_F4132 L3_S47_F4138 L3_S47_F4143 L3_S47_F4148 L3_S47_F4153 L3_S47_F4158 L3_S47_F4163 L3_S47_F4168 L3_S47_F4173 L3_S47_F4178 L3_S47_F4183 L3_S47_F4188 L3_S48_F4193 L3_S48_F4196 L3_S48_F4198 L3_S48_F4200 L3_S48_F4202 L3_S48_F4204 L3_S49_F4206 L3_S49_F4211 L3_S49_F4216 L3_S49_F4221 L3_S49_F4226 L3_S49_F4231 L3_S49_F4236 L3_S50_F4241 L3_S50_F4243 L3_S50_F4245 L3_S50_F4247 L3_S50_F4249 L3_S50_F4251 L3_S50_F4253 L3_S51_F4256 L3_S51_F4258 L3_S51_F4260 L3_S51_F4262

In [28]:
#Thats actually what I was expcecting.  Nothing that stands out.  Maybe feature importance
#can give me an idea of where I'm leaking at.
import matplotlib.pyplot as plt

model = pipeline.named_steps['logisticregression']
columns = X.columns

#logistic regression doesn't have a feature_importances_, but we can get the coeficients anyways
#and plot them here. Coefficients come back as a one dimensional numpy matrix, so I need to 
#set it to the first element of that matrix.
coefficients = pd.Series(model.coef_[0], columns)
plt.figure(figsize = (10, 30))
coefficients.sort_values().plot.barh(color = 'purple')

ValueError: Length of passed values is 952, index implies 968.

In [ ]:
len(model.coef_[0])

In [ ]:
len(columns)

In [ ]:
#well I sure as hell don't know why I'm getting fewer coeficients than features.  
#logistic regression documentation says .coef_ is ndarray of shape (1, n_features) with
#binary classification, which is what I have.