“The Instacart Online Grocery Shopping Dataset 2017”, Accessed from https://www.instacart.com/datasets/grocery-shopping-2017 on Sep 16, 2019

In [1]:
import numpy as np
import pandas as pd

In [2]:
#I don't need all this data. I'm commenting out the stuff I'm not using
#aisles=pd.read_csv('instacart_2017_05_01/aisles.csv')
#departments=pd.read_csv('instacart_2017_05_01/departments.csv')
order_products1=pd.read_csv('instacart_2017_05_01/order_products__prior.csv')
order_products2=pd.read_csv('instacart_2017_05_01/order_products__train.csv')
orders=pd.read_csv('instacart_2017_05_01/orders.csv')
#products=pd.read_csv('instacart_2017_05_01/products.csv')

In [3]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [4]:
order_products=pd.concat([order_products1, order_products2])

In [5]:
order_products.drop('reordered',axis=1,inplace=True)

In [6]:
orders.drop(['user_id','eval_set','order_number','days_since_prior_order'], axis=1, inplace=True)

In [7]:
#this is the Df that I'm going to do my predicting on. I still need to figure out how
#to create a feature that is the 'next item ordered. '
df=order_products.merge(orders, on='order_id')

In [8]:
order_products.head()

   order_id  product_id  add_to_cart_order
0         2       33120                  1
1         2       28985                  2
2         2        9327                  3
3         2       45918                  4
4         2       30035                  5

In [9]:
orders.head()

   order_id  order_dow  order_hour_of_day
0   2539329          2                  8
1   2398795          3                  7
2    473747          3                 12
3   2254736          4                  7
4    431534          4                 15

In [10]:
df.head(10)

   order_id  product_id  add_to_cart_order  order_dow  order_hour_of_day
0         2       33120                  1          5                  9
1         2       28985                  2          5                  9
2         2        9327                  3          5                  9
3         2       45918                  4          5                  9
4         2       30035                  5          5                  9
5         2       17794                  6          5                  9
6         2       40141                  7          5                  9
7         2        1819                  8          5                  9
8         2       43668                  9          5                  9
9         3       33754                  1          5                 17

In [11]:
def getNext(data):
    order_id=data[0]
    nextItem=data[1]+1
    orderContent=df[df['order_id']==order_id]
    Item=orderContent.loc[orderContent['add_to_cart_order']==nextItem, 'product_id'].values
    try:
        return int(Item)
    except:
        return np.NaN

In [12]:
getNext([2,9])

nan

In [ ]:
df['NextOrder']=df[['order_id','add_to_cart_order']].apply(getNext, axis=1)