Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- ✔️ Choose your target. Which column in your tabular dataset will you predict?
- ✔️ Is your problem regression or classification?
- ✔️ How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- ✔️ Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- ✔️ Choose your evaluation metric(s).
    - Classification: Is your majority class frequency > 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

# TARGET: PLAYER

Type of problem: *classification*

In [50]:
import pandas as pd
df0 = pd.read_csv('https://socratesdidnothingwrong.com/nfl/qbcf/master.txt')
print(df0.shape)
df0.head()

(10076, 19)

           player        date team  home  ... rushatt  rushyards  rushtds fumbles
0      Geno Smith  2013-12-01  NYJ     1  ...       1          2        0       0
1  Ryan Tannehill  2013-12-01  MIA     0  ...       3         22        0       0
2  Brandon Weeden  2013-12-01  CLE     1  ...       2          5        0       2
3      Joe Flacco  2013-11-28  BAL     1  ...       4          7        0       1
4      Matt Flynn  2013-11-28  GNB     0  ...       2          4        0       2

[5 rows x 19 columns]

In [51]:
df0['player'].nunique()

262

In [52]:
df0['player'].value_counts(normalize=True)

Tom Brady             0.026002
Drew Brees            0.025109
Eli Manning           0.024315
Ben Roethlisberger    0.023720
Philip Rivers         0.022926
                        ...
Tim Boyle             0.000099
Tony Pike             0.000099
Dominique Davis       0.000099
Cardale Jones         0.000099
Garrett Grayson       0.000099
Name: player, Length: 262, dtype: float64

In [86]:
# Remove "games" with no stats by the QB
df1 = df0[(df0['passatt'] > 0) | (df0['rushatt'] > 0)]
print(df1.shape)
print(df1['player'].nunique())
df1.head()

(9683, 19)
259

           player        date team  home  ... rushatt  rushyards  rushtds fumbles
0      Geno Smith  2013-12-01  NYJ     1  ...       1          2        0       0
1  Ryan Tannehill  2013-12-01  MIA     0  ...       3         22        0       0
2  Brandon Weeden  2013-12-01  CLE     1  ...       2          5        0       2
3      Joe Flacco  2013-11-28  BAL     1  ...       4          7        0       1
4      Matt Flynn  2013-11-28  GNB     0  ...       2          4        0       2

[5 rows x 19 columns]

In [93]:
# Remove QBs that don't have at least half a season of games
import numpy as np
vc = df1['player'].value_counts().to_dict()
littleplay = [p for p in vc if vc[p] < 8]
enoughplay = df1.apply(lambda x: x['player'] not in littleplay, axis=1)
df2 = df1[enoughplay]
print(df2.shape)
print(df2['player'].nunique())
df2.head()

(9417, 19)
175

           player        date team  home  ... rushatt  rushyards  rushtds fumbles
0      Geno Smith  2013-12-01  NYJ     1  ...       1          2        0       0
1  Ryan Tannehill  2013-12-01  MIA     0  ...       3         22        0       0
2  Brandon Weeden  2013-12-01  CLE     1  ...       2          5        0       2
3      Joe Flacco  2013-11-28  BAL     1  ...       4          7        0       1
4      Matt Flynn  2013-11-28  GNB     0  ...       2          4        0       2

[5 rows x 19 columns]

In [92]:
vc = df2['player'].value_counts(normalize=True).to_dict()
for k in vc.keys():
  print(vc[k] * 100, k)

2.782202399915047 Tom Brady
2.6866305617500266 Drew Brees
2.6016778167144525 Eli Manning
2.537963257937772 Ben Roethlisberger
2.4423914197727514 Philip Rivers
2.028246787724328 Matt Ryan
2.028246787724328 Peyton Manning
1.996389508335988 Aaron Rodgers
1.9751513220770944 Carson Palmer
1.9645322289476477 Joe Flacco
1.8371031113942868 Alex Smith
1.6459594350642455 Jay Cutler
1.592863969417012 Matthew Stafford
1.5291494106403312 Ryan Fitzpatrick
1.5079112243814379 Matt Hasselbeck
1.4654348518636509 Tony Romo
1.4017202930869703 Russell Wilson
1.4017202930869703 Cam Newton
1.3911011999575236 Andy Dalton
1.2636720824041627 Matt Schaub
1.2424338961452692 Michael Vick
1.210576616756929 Brett Favre*
1.1150047785919084 Matt Cassel
1.1043856854624616 Donovan McNabb
0.998194754167994 Andrew Luck
0.9663374747796539 Ryan Tannehill
0.9450992885207603 Jason Campbell
0.9450992885207603 Josh McCown
0.9344801953913136 Kirk Cousins
0.91324200913242 Kyle Orton
0.9026229160029733 Jake Delhomme
0.8920038228735266 Derek Carr
0.8813847297440799 Sam Bradford
0.8813847297440799 Mark Sanchez
0.8707656366146331 David Garrard
0.8282892640968461 Blake Bortles
0.8176701709673995 Kurt Warner*
0.8070510778379527 Derek Anderson
0.8070510778379527 Marc Bulger
0.7858128915790592 Kerry Collins
0.7751937984496124 Colin Kaepernick
0.7008601465434852 Chad Henne
0.7008601465434852 David Carr
0.6902410534140384 Case Keenum
0.6902410534140384 Chad Pennington
0.6796219602845918 Brian Hoyer
0.6796219602845918 Marcus Mariota
0.6583837740256981 Jameis Winston
0.6583837740256981 Josh Freeman
0.6477646808962514 Tyrod Taylor
0.6371455877668047 Nick Foles
0.626526494637358 Vince Young
0.626526494637358 Tarvaris Jackson
0.6159074015079112 Dak Prescott
0.6052883083784645 Jon Kitna
0.5946692152490177 Blaine Gabbert
0.5734310289901242 Rex Grossman
0.5734310289901242 Jeff Garcia
0.5628119358606776 Kyle Boller
0.541573749601784 Joey Harrington
0.541573749601784 Matt Moore
0.5203355633428906 Jared Goff
0.5203355633428906 Daunte Culpepper
0.5203355633428906 Trent Green
0.5097164702134438 Shaun Hill
0.5097164702134438 Brock Osweiler
0.499097377083997 Jake Plummer
0.499097377083997 Carson Wentz
0.499097377083997 Byron Leftwich
0.499097377083997 Seneca Wallace
0.48847828395455023 Robert Griffin
0.47785919082510353 Steve McNair
0.4672400976956568 Mark Brunell
0.45662100456621 J.P. Losman
0.45662100456621 Kellen Clemens
0.43538281830731657 Teddy Bridgewater
0.41414463204842306 Geno Smith
0.40352553891897636 Bruce Gradkowski
0.40352553891897636 Gus Frerotte
0.40352553891897636 Drew Bledsoe
0.40352553891897636 Christian Ponder
0.3929064457895296 Trent Edwards
0.3929064457895296 Drew Stanton
0.3929064457895296 Aaron Brooks
0.3822873526600828 Colt McCoy
0.3822873526600828 Brad Johnson
0.3822873526600828 Matt Flynn
0.36104916640118934 Matt Leinart
0.36104916640118934 Brian Griese
0.36104916640118934 Brandon Weeden
0.3504300732717426 Vinny Testaverde
0.3504300732717426 Tim Tebow
0.3398109801422959 Kevin Kolb
0.3398109801422959 Mitchell Trubisky
0.32919188701284907 Deshaun Watson
0.32919188701284907 Billy Volek
0.32919188701284907 JaMarcus Russell
0.31857279388340237 Jake Locker
0.31857279388340237 Jimmy Garoppolo
0.3079537007539556 Jacoby Brissett
0.2867155144950621 Josh Johnson
0.2867155144950621 Trevor Siemian
0.2867155144950621 Mike Glennon
0.2867155144950621 Brad Smith
0.2760964213656154 Tyler Thigpen
0.2760964213656154 Charlie Batch
0.2760964213656154 Patrick Mahomes
0.2760964213656154 Damon Huard
0.2654773282361686 Charlie Frye
0.2654773282361686 EJ Manuel
0.2654773282361686 Sage Rosenfels
0.2654773282361686 Luke McCown
0.2548582351067219 Chase Daniel
0.2548582351067219 Brady Quinn
0.2548582351067219 Charlie Whitehurst
0.24423914197727511 Lamar Jackson
0.24423914197727511 Dan Orlovsky
0.24423914197727511 Chris Simms
0.2336200488478284 Trent Dilfer
0.2336200488478284 T.J. Yates
0.22300095571838166 Jimmy Clausen
0.22300095571838166 Tim Rattay
0.22300095571838166 Taysom Hill
0.2123818625889349 Baker Mayfield
0.2123818625889349 Brooks Bollinger
0.2123818625889349 John Skelton
0.2123818625889349 A.J. Feeley
0.20176276945948818 Ryan Mallett
0.20176276945948818 Troy Smith
0.20176276945948818 Josh Rosen
0.1911436763300414 Patrick Ramsey
0.1911436763300414 Landry Jones
0.1911436763300414 Brodie Croyle
0.1911436763300414 Josh Allen
0.1911436763300414 DeShone Kizer
0.18052458320059467 Cody Kessler
0.18052458320059467 Kelly Holcomb
0.18052458320059467 J.T. O'Sullivan
0.18052458320059467 Joe Webb
0.16990549007114794 Ken Dorsey
0.16990549007114794 Sam Darnold
0.16990549007114794 Brett Hundley
0.16990549007114794 Chris Redman
0.15928639694170119 Andrew Walter
0.14866730381225443 Cleo Lemon
0.14866730381225443 Jim Sorgi
0.14866730381225443 Zach Mettenberger
0.14866730381225443 Terrelle Pryor
0.14866730381225443 Todd Collins
0.14866730381225443 Curtis Painter
0.1380482106828077 Johnny Manziel
0.1380482106828077 Matt McGloin
0.1380482106828077 Matt Barkley
0.1380482106828077 Austin Davis
0.12742911755336095 Anthony Wright
0.12742911755336095 A.J. McCarron
0.12742911755336095 Tom Savage
0.1168100244239142 C.J. Beathard
0.1168100244239142 Koy Detmer
0.1168100244239142 Quinn Gray
0.1168100244239142 Ryan Lindley
0.1168100244239142 Jamie Martin
0.1168100244239142 Sean Mannion
0.10619093129446745 Bryce Petty
0.10619093129446745 Jay Fiedler
0.10619093129446745 Pat White
0.10619093129446745 Mike McMahon
0.0955718381650207 Nathan Peterman
0.0955718381650207 Caleb Hanie
0.0955718381650207 John Beck
0.08495274503557397 Jeff Driskel
0.08495274503557397 Nick Mullens
0.08495274503557397 Chris Weinke
0.08495274503557397 Tyler Palko
0.08495274503557397 Scott Tolzien

# CLASSES: 175

Distribution of classes:

- Tom Brady has the most games (262 for 2.78%)
- 5 players are tied for fewest (8 for 0.08%)

In [96]:
df2.dtypes

player                 object
date           datetime64[ns]
team                   object
home                    int64
opp                    object
game                    int64
week                    int64
day                    object
completions             int64
passatt                 int64
passyards               int64
passtds                 int64
ints                    int64
sacks                 float64
sackyards             float64
rushatt                 int64
rushyards               int64
rushtds                 int64
fumbles                 int64
dtype: object

In [100]:
# Only go to week 7 of 2019
df2['date'] = pd.to_datetime(df2['date'], infer_datetime_format=True)
df3 = df2[(df2['date'].dt.year < 2019) | df2['week'] < 8].sort_values('date')
df3.head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                player       date team  ...  rushyards rushtds  fumbles
5775    Peyton Manning 2004-09-09  IND  ...         18       0        0
5774         Tom Brady 2004-09-09  NWE  ...         -1       0        0
5773      Steve McNair 2004-09-11  TEN  ...         11       0        0
5772       Jay Fiedler 2004-09-11  MIA  ...          0       0        0
5771       A.J. Feeley 2004-09-11  MIA  ...          0       0        0
5753       Jeff Garcia 2004-09-12  CLE  ...         13       1        0
5754       Trent Green 2004-09-12  KAN  ...          3       0        0
5751        Ken Dorsey 2004-09-12  SFO  ...          0       0        0
5750  Daunte Culpepper 2004-09-12  MIN  ...         25       0        0
5748        David Carr 2004-09-12  HOU  ...         12       0        0

[10 rows x 19 columns]

# TRAIN/TEST SPLIT

Training: all games up thru 2010

Testing: all games from 2011 up

(These numbers are based on a 20% test size)

# EVALUATION METRIC: PRECISION